<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/example/favicon.ico" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
  <title>WPI Landing | The Difference Engine</title>
</head>
<body>

  <!-- header -->
  <header class="header">
      
      <div class="universal__nav"> <!-- nav sm -->
        <div class="universal__nav__menu">
          <a href="https://www.asu.edu/">ASU Home</a>
          <a href="https://my.asu.edu/">My ASU</a>
          <a href="https://www.asu.edu/academics/colleges-schools">Colleges and Schools</a>
          <div class="login__status"><a href="https://thedifferenceengine.asu.edu/caslogin?returnto=/">Sign In</a></div>
        </div>
       <!--  <div class="asu-search-form" data-onclick-identifier="universal-search-bar">
          <form action="https://search.asu.edu/search" method="get" role="search" class="">
            <button type="submit" aria-label="Submit ASU Search"></button>
            <input name="q" type="search" aria-labelledby="asu-search-label" required=""><label class="universal-search" id="asu-search-label">Search asu.edu</label></form>
        </div> -->
       </div>
     
      <div class="navbar container__row">
        <div class="navbar__container__left">
      
          <!-- hamburger menu -->
          <div class="menu__responsive__cont">
            <div class="menu-responsive">
              <button class="site__menu">
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </button>
            </div>
          </div>
          <!-- hamburger menu -->
      
      
          <a href="https://www.asu.edu" class="navbar__logo">
            <img src="../../images/example/arizona-state-university-logo-vertical.png" alt="Arizona State University">
            <img src="../../images/example/arizona-state-university-logo.png" class="navbar__logo--large"
              alt="Arizona State University">
          </a>
      
      
      
          <div class="navbar__container__right">
            <h1><a class="title subunit-name active" href="/">The Difference Engine</a></h1>
            <nav class="navbar__primary">
              <ul aria-label="ASU" class="navbar__menu">
                <li class="navbar__menu__item active">
                  <a href="../../index.html" class="icon__container">
                    <img src="../../images/example/home.jpg" alt="home">
                  </a>
                  <a class="home__responsive" href="../index.html">
                    <span class="">Home</span>
                  </a>
                </li>
                <li class="navbar__menu__item">
                  <a href="about.html" class="inactive" role="button" tabindex="0">About </a>
                  <img src="../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--one">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../about.html" class="nav__link">About us</a></li>
                      <li class="navbar__link"><a href="../team.html" class="nav__link">Our Team</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Research </a>
                  <img src="../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--two">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../research.html" class="nav__link">Research</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Projects </a>
                  <img src="../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--three">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../projects.html" class="nav__link">Projects</a></li>
                      <li class="navbar__link"><a href="../projects/womens-power.html" class="nav__link">Women's Power
                          Index</a></li>
                      <li class="navbar__link"><a href="../projects/supercharger.html" class="nav__link">Supercharger</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navbar__menu__item">
                  <div class="navbar__link">
                    <a href="https://www.craft.do/s/aArieVV7yuouZT" class="" role="button" aria-expanded="false" tabindex="0">Curriculum</a>
                    <img src="../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  </div>
                  <div class="dropdown__item dropdown__item--four">
                    <div>
                      <ul class="menu__sub">
                        <li class="navbar__link"><a href="https://www.craft.do/s/aArieVV7yuouZT" class="nav__link">Unequal
                            States
                            of America</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__menu__item"><a href="../news-and-events.html" class="menu__item__link">News and Events</a></li>
                <li class="navbar__menu__item"><a href="../partners.html" class="menu__item__link">Partners</a></li>
              </ul>
      
              <div class="link__container_header__end">
                <button href="/become-a-difference-engineer" class="button button--primary">Become a Difference
                  Engineer</button>
                <button
                  href="https://www.asufoundation.org/colleges-and-programs/schools-and-colleges/sandra-day-oconnor-college-of-law/the-difference-engine"
                  class="button button--secondary">Give</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </header>
  <!-- header end -->
  
  <!-- hero -->
  <section role="img">
    <div class="container">
      <div class="hero hero--content" id="womens-power-hero">
        <div class="image-background">
          <img src="../../images/example/womens-power-banner.jpg" alt="hero">
        </div>
        <h1 class="title"><span class="text__background text__background--secondary">Women's Power & Influence Index</span></h1>
        <p></p>
      </div>
    </div>
  </section>

  <!-- hero end-->


  <section class="navigator" role="main">
    <div class="container-sm">
      <div class="navigation">
        <div class="url__navigator">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../projects.html">Projects</a></li>
            <li><a href="." class="inactive">WPI Landing</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  
  <!-- main -->
<main>
  <section class="womens-power">
    <div class="container-sm">
      <h2 class="title__womens__power">Public rankings ignite behavior change.</h2>
      <div class="video__text__container">
        
        <div class="video__hero">
          <video autoplay="" muted="" loop="" playsinline="" class="fixed-background">
            <source src="../../videos/example/trim_0DED1263-D5B9-48B2-BCF1-D46CAB6CE2DA.mp4">
          </video>
          <a href="https://www.tiktok.com/@thediffengasu" class="button button--yellow" target="" role="link">Follow us on TikTok to hear more from our students!</a>
          <div class="buttons-tiktok">
            <button class="first play" type="button">
              <svg class="svg-inline--fa fa-play fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>
            </button>
            <button class="second pause" type="button">
              <svg class="svg-inline--fa fa-pause fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="pause" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"></path></svg>
            </button>
          </div>
        </div>
        <div class="video__text">
          <p class="">Imagine a world where companies were ranked on the basis of their gender policies and data around women's power and influence was shared, in a simple and easy to understand score, with the rest of the world – every year, like clockwork.</p>
          <div class="title__yellow">The Women’s Power and Influence Index aims to do just that.</div>
          <p class="">Just like a restaurant sinks or swims based on its Yelp reviews - companies will improve or decline on the basis of their placement on this Index. And in doing so, accelerate the drive towards gender equality so that we leave a strong and vibrant nation to our grandchildren.</p>
          <div class="link__container">
            <a href="../projects/womens-power-index/about-us.html" title="about">Find out more About the Index and Our Team >></a>
          </div>
        </div>
      </div>
      <div class="center__container">
      <div class="center__block">
        <p>There are articles, tips/tricks, conferences, and companies are making DEI hires to combat this but we think there should be an index that keeps companies accountable.</p>
        <h3 class="title">We are quantifying inequality.</h3>
        <p>What if we shared the proof and held those who made promises to account? What would the world look like if everyone actually knew, on the basis of data – not HR corporate-speak or press releases – how a company treated its workers on the basis of their gender?</p>
      </div>
    </div>
    
    <div class="content__block content__block--align">
      
      <div class="left__block">
        <div class="container__title__link">
          <div class="title__criteria">Criteria and Methodology</div>
            <a href="../projects/womens-power-index/criteria-methodology.html" class="button button--yellow" target="" role="link">Learn More</a>
        </div>
      </div>
      
      <div class="right__block">
        <div class="container__title__link">
          <div class="title__research">Research</div>
            <a href="../projects/womens-power-index/research.html" class="button button--yellow" target="" role="link">Learn More</a>
        </div>
      </div>
    </div>

    <div class="container"> <!-- TODO: este link lleva al tercer bloque de research.html#state-of-the-index -->
      <div class="center__block" id="image-womens-power">
        <div class="container__title__link">
          <a href="../projects/womens-power-index/research.html#state-of-the-index" class="button button--yellow" target="" role="link">State of the Index Report</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="center__block" id="time-line">
        <div class="container__title__link">
          <h2 class="title__gender">Gender Equity in the States</h2>
          <a href="https://bit.ly/3uVKCsS" class="button button--yellow" target="_blank" role="link">View the slide!</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="ruth-bader">
        <div class="ruth-bader__text"> 
        <h3 class="ruth-bader__title">We write this one night after the passing of Justice Ruth Bader Ginsburg.</h3>
        <p>We understand her fight. Advocating for gender equality isn’t new to us. It’s part of our DNA. We have a long history of completing successful projects, whether it’s justice reform for women in Pakistan or reimagining legal education right here in Arizona. Indeed, our law school is named after one of Ruth Bader Ginsburg’s counterparts: Justice Sandra Day O’Connor, the first female justice of the Supreme Court.</p>
        <p>The outpouring of support around the country for this courageous, brilliant jurist is an indication that RBG’s work on gender equity remains incomplete. We hope that the Index will be a tool of empowerment and education - one that encourages women to obtain power equal to their potential.</p>
        <p>It is our tribute to her. And our promise to the countless women who are done waiting for equality.</p>
      </div>
      </div>
    </div>

    </div>
  </section>
</main>
  <!-- main end --> 


  

  <!-- footer -->
  <footer class="footer">
    <!-- animation -->
    <div class="wrapper">
    <section class="animation">
      <div class="container">
        <div class=" flex box__signup">
          <div class="box__left">
            <h3>Be a difference engineer</h3>
            <p>Sign up for our newsletter to stay up to date about the center and its work.</p>
            <div class="social__cont">
              <a href="https://twitter.com/TheDiffEngASU" target="_blank"><img src="../../images/example/twitter-footer.svg"
                  alt="twitter" class="social-icon"></a>
              <a href="https://www.instagram.com/thedifferenceengineasu/" target="_blank"><img
                  src="../../images/example/instagram-footer.svg" alt="instagram" class="social-icon"></a>
              <a href="mailto:Ehsan.Zaffar@asu.edu"><img src="../../images/example/email-footer.svg" alt="email" class="social-icon"></a>
            </div>
          </div>
  
          <div class="box__right">
            <p><a class="button button--red" href="/become-a-difference-engineer">Sign up</a></p>
          </div>
        </div>
      </div>
    </section></div>
    <!-- animation end -->

    <!-- sub footer -->

    <div class="sub__footer">
      <div class="sub__footer__top">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__menu">
                <a class="nav-link" href="https://www.asu.edu/rankings">
                  <div class="image__cont">
                  <img src="../../images/example/GlobalFooter-Number-1-in-the-us-for-innovation.png" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                </div>
                </a>
                <nav class="sub__footer__item" aria-label="University Services">
                  <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations">Maps and Locations</a>
                  <a class="nav-link" href="https://www.asu.edu/asujobs" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs">Jobs</a>
                  <a class="nav-link" href="https://isearch.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory">Directory</a>
                  <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu">Contact ASU</a>
                  <a class="nav-link" href="https://my.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu">My ASU</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub__footer__down">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__legal__links">
                <nav class="sub__footer__item" aria-label="University Legal and Compliance">
                  <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark">Copyright and Trademark</a>
                  <a class="nav-link" href="https://www.asu.edu/accessibility/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility">Accessibility</a>
                  <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy">Privacy</a>
                  <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use">Terms of Use</a>
                  <a class="nav-link" href="https://www.asu.edu/emergency/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency">Emergency</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- sub footer -->
  </footer>

  <!-- footer end -->
</body>
</html>