.responsive__btn {
    width: 48px;
    height: 18px;
    background: url(images/menu.svg) center/contain no-repeat;

    @include responsive('tablet-h'){
        width: 5vw;
        height: 2.2vw;
    }
    
    @include responsive('mobile-v'){
        width: 32px;
        height: 8px;
    }
}

.close__btn {
    position: absolute;   
    top: 50px;
    right: 34px;
    width: 30px;
    height: 30px;
    background: url(images/close.svg) center/contain no-repeat;

    @include responsive ('mobile-v'){
        top: 20px;
        right: 15px;
        width: 15px;
        height: 15px;
    }
}

.menu-primary-menu-container {
    @include responsive('tablet-v') {
        width: 100%;
    }
}

.site-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 41.563vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4.3vw 5.8vw;
    transform: translatex(100%);
    transition: all 0.5s ease;
    overflow: hidden;

    @include responsive('tablet-v') {
        overflow: visible;
        align-items: flex-start;
        padding-top: 60px;
        width: 100vw;
    }

    @include responsive ('mobile-v'){
        bottom: auto;
        top: 0;
        //width: 59.563vw; 
        width: 100vw; 
        //height: 70.45vw;
    }

    &:before {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 75.9vw 40.9vw;
        border-color: transparent transparent $third-color transparent;
        z-index: -1;

        @include responsive('tablet-v') {
            border-color: none;
            background: $third-color;
            width: 100%;
            height: 100%;
        }
/*
        @include responsive ('mobile-v'){
            width: 57.5vw;
        }
*/
    }

    &:after {
        position: absolute;
        bottom: 0;
        right: 0.7vw;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 75.9vw 40.9vw;
        border-color: transparent transparent $secondary-color transparent;
        z-index: -2;

        @include responsive('tablet-v') {
            display: none;
        }
/*
        @include responsive ('mobile-v'){
            width: 58vw;
        }
*/
    }

    .menu-primary-menu-container {
        ul {
            li {
                margin-top: 2.1vw;

                @include responsive ('mobile-v'){
                    margin-top: 1vw;
                }

                a {
                    @include h5();
                    color: $white;
                    position: relative;
                    padding-left: 2.1vw;
                    margin-bottom: 5.7vw;

                    @include responsive ('tablet-v'){
                        font-size: 20px;
                        padding-left: 3.1vw;
                    }

                    @include responsive ('mobile-v'){
                        padding-left: 3.1vw;
                    }
            
                    &:before {
                        position: absolute;
                        bottom: 0.6vw;
                        left: 0;
                        width: 1.355vw;
                        height: 1.355vw;
                        background: url(images/diagonal-arrow.svg) center/contain no-repeat;
                        content: '';

                        @include responsive ('mobile-v'){
                            width: 2.355vw;
                            height: 2.355vw;
                        }
                    }

                    &:hover {
                        color: $secondary-color;
                    }
                }

                &.current_page_item a {
                    color: $secondary-color;
                }
            }
        }
    }

    &.active {
        transform: translatex(0);
    }
}