<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="shortcut icon" href="../../../images/example/favicon.ico" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
  <title>About Us | The Difference Engine</title>
</head>
<body>

  <!-- header -->
  <header class="header">
      
      <div class="universal__nav"> <!-- nav sm -->
        <div class="universal__nav__menu">
          <a href="https://www.asu.edu/">ASU Home</a>
          <a href="https://my.asu.edu/">My ASU</a>
          <a href="https://www.asu.edu/academics/colleges-schools">Colleges and Schools</a>
          <div class="login__status"><a href="https://thedifferenceengine.asu.edu/caslogin?returnto=/">Sign In</a></div>
        </div>
       <!--  <div class="asu-search-form" data-onclick-identifier="universal-search-bar">
          <form action="https://search.asu.edu/search" method="get" role="search" class="">
            <button type="submit" aria-label="Submit ASU Search"></button>
            <input name="q" type="search" aria-labelledby="asu-search-label" required=""><label class="universal-search" id="asu-search-label">Search asu.edu</label></form>
        </div> -->
       </div>
     
      <div class="navbar container__row">
        <div class="navbar__container__left">
      
          <!-- hamburger menu -->
          <div class="menu__responsive__cont">
            <div class="menu-responsive">
              <button class="site__menu">
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </button>
            </div>
          </div>
          <!-- hamburger menu -->
      
      
          <a href="https://www.asu.edu" class="navbar__logo">
            <img src="../../../images/example/arizona-state-university-logo-vertical.png" alt="Arizona State University">
            <img src="../../../images/example/arizona-state-university-logo.png" class="navbar__logo--large"
              alt="Arizona State University">
          </a>
      
      
      
          <div class="navbar__container__right">
            <h1><a class="title subunit-name active" href="/">The Difference Engine</a></h1>
            <nav class="navbar__primary">
              <ul aria-label="ASU" class="navbar__menu">
                <li class="navbar__menu__item active">
                  <a href="../../../index.html" class="icon__container">
                    <img src="../../../images/example/home.jpg" alt="home">
                  </a>
                  <a class="home__responsive" href="../index.html">
                    <span class="">Home</span>
                  </a>
                </li>
                <li class="navbar__menu__item">
                  <a href="about.html" class="inactive" role="button" tabindex="0">About </a>
                  <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--one">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../about.html" class="nav__link">About us</a></li>
                      <li class="navbar__link"><a href="../../team.html" class="nav__link">Our Team</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Research </a>
                  <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--two">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../research.html" class="nav__link">Research</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Projects </a>
                  <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--three">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../projects.html" class="nav__link">Projects</a></li>
                      <li class="navbar__link"><a href="../../projects/womens-power.html" class="nav__link">Women's Power
                          Index</a></li>
                      <li class="navbar__link"><a href="../../projects/supercharger.html" class="nav__link">Supercharger</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navbar__menu__item">
                  <div class="navbar__link">
                    <a href="https://www.craft.do/s/aArieVV7yuouZT" class="" role="button" aria-expanded="false" tabindex="0">Curriculum</a>
                    <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  </div>
                  <div class="dropdown__item dropdown__item--four">
                    <div>
                      <ul class="menu__sub">
                        <li class="navbar__link"><a href="https://www.craft.do/s/aArieVV7yuouZT" class="nav__link">Unequal
                            States
                            of America</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__menu__item"><a href="../../news-and-events.html" class="menu__item__link">News and Events</a></li>
                <li class="navbar__menu__item"><a href="../../partners.html" class="menu__item__link">Partners</a></li>
              </ul>
      
              <div class="link__container_header__end">
                <button href="/become-a-difference-engineer" class="button button--primary">Become a Difference
                  Engineer</button>
                <button
                  href="https://www.asufoundation.org/colleges-and-programs/schools-and-colleges/sandra-day-oconnor-college-of-law/the-difference-engine"
                  class="button button--secondary">Give</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </header>
  <!-- header end -->

   <!-- hero -->
   <section role="img">
    <div class="container">
      <div class="hero hero--content" id="about-us-hero">
        <div class="image-background">
          <img src="../../../images/example/about-us-banner.jpg" alt="hero">
        </div>
        <h1 class="title"><span class="text__background">About us</span></h1>
        <p></p>
      </div>
    </div>
  </section>

  <!-- hero end-->

  <section class="navigator">
    <div class="container-sm">
      <div class="navigation">
        <div class="url__navigator">
          <ul>
            <li><a href="../../../index.html">Home</a></li>
            <li><a href="../../projects.html">Projects</a></li>
            <li><a href="../../projects/womens-power.html">WPI Landing</a></li>
            <li><a href="." class="inactive">About Us</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  
  <!-- main -->
<main>
  <section class="about-us">
    <!-- tab nav link --> <!-- TODO: Tab nav link Lucio -->
    <section class="tab__menu">
     <div class="container-sm">
      <div class="tab__container">
        <a href="" class="tab__item tab__item--active" id=""><strong>Our Purpose</strong></a>
        <a href="" class="tab__item" id=""><strong>Our Index</strong></a>
        <a href="" class="tab__item" id=""><strong>Our Team</strong></a>
      </div>
     </div>
    </section>
    <!-- tab nav link end -->
    <div class="container-sm">

      <!-- one - our purpose block --> <!-- TODO: bloques -->
      <div class="text__format" id="our-purpose"> 
        <p>The Women's Power and Influence Index is built and maintained exclusively by an interdisciplinary team of
          faculty, experts, and Ph.D. candidates from a wide variety of ASU units including the Sandra Day O’Connor
          College of Law and the Ira S. Fulton Schools of Engineering. You can learn more about how we rank organizations
          <a data-entity-substitution="canonical" data-entity-type="node"
            data-entity-uuid="4912a384-e8a6-41fe-bd60-8e1127351aac"
            href="/projects/womens-power-index/criteria-methodology" title="Criteria and Methodology">here</a>.</p>
        <h3 class="uppertitle">What's the problem the Index is trying to solve?</h3>
        <div class="left__content">
          <div class="iframe-wrapper">
            <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen="" frameborder="0" height="315"
              src="https://www.youtube.com/embed/JsnhKP9trBA?enablejsapi=1&amp;origin=https:%2F%2Fthedifferenceengine.asu.edu"
              title="YouTube video player" width="560" id="widget2" data-gtm-yt-inspected-658644_453="true"
              data-gtm-yt-inspected-14="true"></iframe>
          </div>
        </div>
  
        <p>Even though gender equity advanced tremendously during the 20th century, across all meaningful metrics,
          equality for women in the workplace remains at a standstill. At our current rate, women in America will not
          reach gender parity for another 151 years.&nbsp; (And that's assuming things don't go backward!)</p>
  
        <p>If we don't do something to restart the drive for gender equality that began nearly a 100 years ago then our
          grandchildren will be struggling to advance in a stagnant economy, living in passive, unhealthy communities and
          in a country well past its heyday.</p>
  
        <h3 class="uppertitle">Why is Increasing Gender Equity Important?</h3>
  
        <p>A country's gender gap affects its power and influence on the world stage. For instance, narrowing America's
          gender gap would add $28 trillion to our GDP – enough to wipe out our entire national debt. Achieving gender
          equality is like magic. It’s a get-rich quick scheme that actually makes you rich, a diet pill that isn't
          dangerous and actually works.</p>
  
        <h3 class="uppertitle uppertitle--black">Narrowing America's gender gap would add $28 trillion to our GDP – enough
          to wipe out our entire national debt.</h3>
  
        <p>Equitable workplaces are far more successful than those where women are marginalized. Employees of all kinds
          are far more productive, content, and loyal when their environments are equitable. Communities where men and
          women share domestic burdens and earn similar salaries have far better physical and mental health outcomes and
          far less incidents of domestic violence, irrespective of overall socioeconomic status.</p>
  
          <div class="image__container">
            <div class="image-background">
              <img src="/images/example/dartboard.jpg" alt="img">
            </div>
          </div>
        
        <h3 class="uppertitle"><strong>How Does the Index Advance Gender Equity?</strong></h3>
        <h3 class="uppertitle uppertitle--yellow">Public rankings ignite behavior change.</h3>
        <p>Just like a restaurant sinks or swims based on its Yelp reviews - companies will improve or decline on the
          basis of their placement on this Index. And in doing so, accelerate the drive towards gender equality so that we
          leave a strong and vibrant nation to our grandchildren.</p>
      </div>

      <!-- two - our index block -->
      <div class="text__format" id="our-index">
        <ul>
          <li><strong>Empowers workers.</strong> We've seen a post-COVID thirst for increased autonomy and agency by workers at all levels. A public score can let workers know when to apply, where to apply, when to leave and when to demand more equity based on data, not controversy.</li>
        </ul>
        <div class="image__container">
          <div class="image-background">
            <img src="/images/example/sun-devil-fist.jpg" alt="img">
          </div>
        </div>
        <ul>
          <li><strong>Builds better workplaces.</strong> Workers, especially the Millennial and younger generations, value transparent, equitable and progressive workplaces. Getting ranked on the Index can increase morale, productivity and retention, and reduce litigation risk. Leaders who share Index data with their workforce, customers and investors show that they value transparency and care for their community.</li>
        </ul>
        <ul>
          <li><strong>Holds organizations to account for their promises.</strong> A simple, easy to understand score released every year that can be used by investors, journalists and civil society to track the progress (or lack thereof) of organizations that have made commitments to increasing diversity (especially in light of the promises made by organizations in the aftermath of the 2020 protests against racial injustice).</li>
        </ul>
        <ul>
          <li><strong>Uncovers interesting data</strong>. Netflix ranks high on the Index, and this is despite recent gender-related controversies. Amazon ranks low on the Index, and this is despite the tremendous amount of money it spends on the gender equity. Why?</li>
        </ul>
        <ul>
          <li><strong>Is transparent and cooperative</strong>. Not punitive. We plan to share our data sources and methodology with ranked organizations, inviting them to share data and incentivizing them to rank higher on the Index over time.</li>
        </ul>
      </div>

      <!-- three - our team block -->
      <div class="text__format" id="out-team">
        <h3 class="uppertitle">Student Researchers</h3>
        <div class="image__container">
          <div class="image-background">
            <img src="/images/example/TDEWPI_20220215_0562.jpeg" alt="img">
          </div>
        </div>
        <div class="our__team__container">
          <p>
            <a href="../team-members.html" title="">Lienna Tieu</a>, 
            <a href="../team-members.html" title="">Samantha Hollinshead</a>, 
            <a href="../team-members.html" title="">Charan Rajagopal</a>, 
            <a href="../team-members.html" title="">Siqiong Zhou</a>,
            <a href="../team-members.html" title="">Elisa Thomas,
            </a>and <a href="../team-members.html" title="">Brooke Howard</a></p>

          <hr class="border__separate_middle"></hr>
          <h3 class="uppertitle">Faculty</h3>
          <p><a href="../team-members.html" title="Dr. Esma Gel">Esma Gel</a></p>

          <hr class="border__separate_middle"></hr>
          <h3 class="uppertitle">Standards and Review Committee</h3>
          <p><a href="../team-members.html" title="Dr. Esma Gel">Esma Gel</a></p>

          <hr class="border__separate_middle"></hr>
          <h3 class="uppertitle">Staff</h3>
          <p><a href="../team-members.html" title="Dr. Esma Gel">Esma Gel</a></p>
        </div>
      </div>
    </div>
  </section>
</main>
  <!-- main end --> 


  

  <!-- footer -->
  <footer class="footer">
    <!-- animation -->
    <div class="wrapper">
    <section class="animation">
      <div class="container">
        <div class=" flex box__signup">
          <div class="box__left">
            <h3>Be a difference engineer</h3>
            <p>Sign up for our newsletter to stay up to date about the center and its work.</p>
            <div class="social__cont">
              <a href="https://twitter.com/TheDiffEngASU" target="_blank"><img src="/images/example/twitter-footer.svg"
                  alt="twitter" class="social-icon"></a>
              <a href="https://www.instagram.com/thedifferenceengineasu/" target="_blank"><img
                  src="/images/example/instagram-footer.svg" alt="instagram" class="social-icon"></a>
              <a href="mailto:Ehsan.Zaffar@asu.edu"><img src="/images/example/email-footer.svg" alt="email" class="social-icon"></a>
            </div>
          </div>
  
          <div class="box__right">
            <p><a class="button button--red" href="/become-a-difference-engineer">Sign up</a></p>
          </div>
        </div>
      </div>
    </section></div>
    <!-- animation end -->

    <!-- sub footer -->

    <div class="sub__footer">
      <div class="sub__footer__top">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__menu">
                <a class="nav-link" href="https://www.asu.edu/rankings">
                  <div class="image__cont">
                  <img src="/images/example/GlobalFooter-Number-1-in-the-us-for-innovation.png" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                </div>
                </a>
                <nav class="sub__footer__item" aria-label="University Services">
                  <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations">Maps and Locations</a>
                  <a class="nav-link" href="https://www.asu.edu/asujobs" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs">Jobs</a>
                  <a class="nav-link" href="https://isearch.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory">Directory</a>
                  <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu">Contact ASU</a>
                  <a class="nav-link" href="https://my.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu">My ASU</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub__footer__down">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__legal__links">
                <nav class="sub__footer__item" aria-label="University Legal and Compliance">
                  <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark">Copyright and Trademark</a>
                  <a class="nav-link" href="https://www.asu.edu/accessibility/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility">Accessibility</a>
                  <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy">Privacy</a>
                  <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use">Terms of Use</a>
                  <a class="nav-link" href="https://www.asu.edu/emergency/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency">Emergency</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- sub footer -->
  </footer>

  <!-- footer end -->
</body>
</html>