<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="shortcut icon" href="../../../images/example/favicon.ico" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
  <title>Research | The Difference Engine</title>
</head>
<body>

  <!-- header -->
  <header class="header">
      
      <div class="universal__nav"> <!-- nav sm -->
        <div class="universal__nav__menu">
          <a href="https://www.asu.edu/">ASU Home</a>
          <a href="https://my.asu.edu/">My ASU</a>
          <a href="https://www.asu.edu/academics/colleges-schools">Colleges and Schools</a>
          <div class="login__status"><a href="https://thedifferenceengine.asu.edu/caslogin?returnto=/">Sign In</a></div>
        </div>
       <!--  <div class="asu-search-form" data-onclick-identifier="universal-search-bar">
          <form action="https://search.asu.edu/search" method="get" role="search" class="">
            <button type="submit" aria-label="Submit ASU Search"></button>
            <input name="q" type="search" aria-labelledby="asu-search-label" required=""><label class="universal-search" id="asu-search-label">Search asu.edu</label></form>
        </div> -->
       </div>
     
      <div class="navbar container__row">
        <div class="navbar__container__left">
      
          <!-- hamburger menu -->
          <div class="menu__responsive__cont">
            <div class="menu-responsive">
              <button class="site__menu">
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </button>
            </div>
          </div>
          <!-- hamburger menu -->
      
      
          <a href="https://www.asu.edu" class="navbar__logo">
            <img src="../../../images/example/arizona-state-university-logo-vertical.png" alt="Arizona State University">
            <img src="../../../images/example/arizona-state-university-logo.png" class="navbar__logo--large"
              alt="Arizona State University">
          </a>
      
      
      
          <div class="navbar__container__right">
            <h1><a class="title subunit-name active" href="/">The Difference Engine</a></h1>
            <nav class="navbar__primary">
              <ul aria-label="ASU" class="navbar__menu">
                <li class="navbar__menu__item active">
                  <a href="../../../index.html" class="icon__container">
                    <img src="../../../images/example/home.jpg" alt="home">
                  </a>
                  <a class="home__responsive" href="../index.html">
                    <span class="">Home</span>
                  </a>
                </li>
                <li class="navbar__menu__item">
                  <a href="about.html" class="inactive" role="button" tabindex="0">About </a>
                  <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--one">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../about.html" class="nav__link">About us</a></li>
                      <li class="navbar__link"><a href="../../team.html" class="nav__link">Our Team</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Research </a>
                  <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--two">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../research.html" class="nav__link">Research</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Projects </a>
                  <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--three">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../projects.html" class="nav__link">Projects</a></li>
                      <li class="navbar__link"><a href="../../projects/womens-power.html" class="nav__link">Women's Power
                          Index</a></li>
                      <li class="navbar__link"><a href="../../projects/supercharger.html" class="nav__link">Supercharger</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navbar__menu__item">
                  <div class="navbar__link">
                    <a href="https://www.craft.do/s/aArieVV7yuouZT" class="" role="button" aria-expanded="false" tabindex="0">Curriculum</a>
                    <img src="../../../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  </div>
                  <div class="dropdown__item dropdown__item--four">
                    <div>
                      <ul class="menu__sub">
                        <li class="navbar__link"><a href="https://www.craft.do/s/aArieVV7yuouZT" class="nav__link">Unequal
                            States
                            of America</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__menu__item"><a href="../../news-and-events.html" class="menu__item__link">News and Events</a></li>
                <li class="navbar__menu__item"><a href="../../partners.html" class="menu__item__link">Partners</a></li>
              </ul>
      
              <div class="link__container_header__end">
                <button href="/become-a-difference-engineer" class="button button--primary">Become a Difference
                  Engineer</button>
                <button
                  href="https://www.asufoundation.org/colleges-and-programs/schools-and-colleges/sandra-day-oconnor-college-of-law/the-difference-engine"
                  class="button button--secondary">Give</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </header>
  <!-- header end -->

   <!-- hero -->
   <section role="img">
    <div class="container">
      <div class="hero hero--content" id="research-womens-power-hero">
        <div class="image-background">
          <img src="../../../images/example/women-power-index-research.jpg" alt="hero">
        </div>
        <h1 class="title"><span class="text__background text__background--secondary">Women's Power & Influence Index : Research</span></h1> 
        <p></p>
      </div>
    </div>
  </section>

  <!-- hero end-->

  <section class="navigator" role="main">
    <div class="container-sm">
      <div class="navigation">
        <div class="url__navigator">
          <ul>
            <li><a href="../../../index.html">Home</a></li>
            <li><a href="../../projects.html">Projects</a></li>
            <li><a href="../../projects/womens-power.html">WPI Landing</a></li>
            <li><a href="." class="inactive">Research</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  
  <!-- main -->
<main>
  <section class="research-womens-power">
    
    <!-- TAB NAV LINK --> <!-- TODO: Tab nav link Lucio -->
    <section class="tab__menu">
      <div class="container-sm">
        <div class="tab__container">
          <a href="" class="tab__item tab__item--active" id=""><strong>Research</strong></a>
          <a href="#literature-review" class="tab__item" id="literature-review"><strong>Literature Review</strong></a>
          <a href="#state-of-the-index" class="tab__item" id=""><strong>State Of The Index</strong></a>
        </div>
      </div>
    </section>
    <!-- TAB NAV LINK end -->
    
    <div class="container-sm">

      <!-- one - research block --> <!-- TODO: bloques -->
      <div class="text__format" id="research-womens-power"> 
        <p>Before starting development of version one of the indices, the team researched ways in which other indexes are insufficient and lacking critical information. Taking this information, they were able to develop a purpose for the Women’s Power Index and define specific goals of being comprehensive, accessible, and objective. Once this was established, they began determining criteria and metrics used, the organization selection process as well as the calculations used to rank the organizations.</p>
        <p>To develop a set of criteria and metrics used to rank the organizations, the development team sent out a survey to 8,000 women in a variety of industries to assess the importance of specific criteria and determination of weight values. Companies were then selected based on their Forbes ranking, market capitalization, industry diversity, and available data. Once this information was established, the team began working on the data collection and score determinations for the selected companies.</p>
        <p>The goal for version one was to have the metrics, calculations, and methodology defined and rank 25 companies.</p>

        
          <div class="image__container">
            <div class="image-background">
              <img src="/images/example/TDEWPI_20220215_0569.jpg" alt="img">
            </div>
          </div>
          <p class="text__small__research__container" ><span class="text__small__research">Lienna Tieu, Samantha Hollinshead, Charan Rajagopal, Siqiong Zhou, Elisa Thomas, and Brooke Howard (photo by Jamie Biver)</span></p>
      
      </div>

      <!-- two - literature review block -->
      <div class="text__format" id="literature-review">
        <p>The Difference Engine worked with three Barrett Honors College students (Lienna Tieu, Brooke Howard, and Elisa Thomas) during the semesters of Fall 2021 and Spring 2022 to perform an extensive study of existing scholarship and extant indices measuring gender equity.</p>
        <p>The <strong>Women’s Power and Influence (WPI) Index </strong>benefits immensely from this scholarly examination of a variety of indices. After a thorough review of the top ten indices, the students identified features that will allow the WPI index more comprehension: The WPI Index intends to address key issues specific to the workplace in a timely manner and encourage companies to increase gender equality for the benefit of women, not just for the benefit of the companies themselves; it would also take note of anecdotal experience and structure it into quantifiable measurements to create a score model. Within each score model, the WPI Index would contain a set of criteria that would contain a weighted grade that would lead to the overall score that the particular organization would receive.</p>
        
        <div class="layout__grid__blockquote">
          <img src="/images/example/quote.svg" class="quote" alt="quote"> 
          <div class="blackquote">
            <p>The WPI Index intends to address key issues specific to the workplace in a timely manner and encourage companies to increase gender equality for the benefit of women, not just for the benefit of the companies themselves; it would also take note of anecdotal experience and structure it into quantifiable measurements to create a score model.</p>
            
            <div class="citation"><cite>Women's Power Index Literature Review</cite></div>
          </div>
        </div>

        <p>The Literature Review also uncovered a need for systems change, so the WPI Index will be updated annually to allow companies to improve workplace conditions resulting in a higher rating within said score model the following year. A yearly decreases reliance on the stagnant reform that many companies are prone to. With the analysis of these indices and the solutions gathered, the Women’s Power and Influence Index intends to provide an inclusive tool that would benefit women by increasing equality in the workplace.</p>

        <h3 class="uppertitle uppertitle--black">Overall, Pre-WPI gender-focused indices examined provide a helpful background and framework for the development of the WPI Index.</h3>

        <p>Ultimately, from a user standpoint, the Women’s Power and Influence Index serves to make data about workplace gender equality more accessible to women in order to help make more informed choices about potential organizations.</p>

        <p>Our WPI Index is a chance to build a specific and cohesive index based on criteria defined by women themselves. The goal is to identify how women are being treated in a workplace environment via accessible data and apply an overall calculated score for institutions and companies to utilize for improvement.</p>

        <h3 class="uppertitle uppertitle--yellow">With this score, actions, policies, and environment are quantified and resulting in a final grade that encourages the organizations to confront the truth about the culture nurtured by their policies.</h3>

        <p>We realized through the literature review that organizations haven't access to a tool to help them answer the question, how have they contributed to systemic inequality that exists to widen the gap between genders and have any of their (new) policies had any real effect in closing that gap?</p>

        <p>Read the Barrett Honors College students thesis here. [<em>forthcoming</em>]</p>

        <div class="image__container">
          <div class="image-background">
            <img src="/images/example/research-womens.jpg" alt="img">
          </div>
        </div>
        <p class="text__small__research__container" ><span class="text__small__research">Barnett Honors College students Lienna Tieu, Brooke Howard, and Elisa Thomas (photo by Jamie Biver)</span></p>

      </div>

      <!-- three - satate of the index block -->
      <div class="text__format" id="state-of-the-index">
        <h3 class="uppertitle">Kimberly Smith did everything she thought she needed to do to be successful. </h3>

        <p>She worked hard through high school, got a college degree, was hired immediately after graduation, got married, and had children. Over the fifteen years at the same company, Kimberly only got promoted once. When she had to take maternity leave, she had to use her own vacation and sick leave, having nothing left over if a true emergency arose. When she came back to work, she found that her colleagues had moved on, been promoted, or gotten involved in projects that would help them get promoted.</p>
      
        <p>Kimberly also found she wasn’t taken seriously by her bosses and her suggestions were often ignored in favor of women who had no children, or men. With childcare duties looming as her daughter grew older, she found herself having to take unpaid time off and fall further behind in her professional development.</p>

        <h3 class="uppertitle uppertitle--yellow">Unfortunately, Kimberly's story is not the outlier.</h3>

        <p>In fact, <strong>one in five</strong> mothers reports being turned down for promotions and 27% report being treated as though they were not as committed to their work as their male counterparts ("Women in the Labor Force," 2019).</p>

        <p>Women are not only consistently being passed over for promotions, but they are paid significantly less than their male counterparts. The Pew Research Center analyzed the median hourly earnings of both full- and part-time workers and determined that in 2020 women made 84% of what men make.</p>

        <h3 class="uppertitle uppertitle--black">To make the same amount as men, women would have to work an extra 44 days of full-time work.</h3>

        <h3 class="uppertitle">What is the solution?</h3>

        <p>The Women's Power Index (WPI) measures the power of women at the workplace by ranking organizations using a simple score. Making the information public, lets workers know based on their individual priorities and needs, where to apply, when to leave, and when to demand more equity on the basis of data, not controversy.</p>

        <p>One of the pillars of the Women’s Power Index is the idea that <strong>public rankings ignite behavioral change.</strong> Rankings incentivize companies to make changes and prioritize women's equality in the workplace. We can see an example of this process at work in other fields, such as the the <em>US News &amp; World Report</em> Law School Rankings.</p>

        <p>Though the WPI is different in many ways to U.S. News’ rankings, it is similar in that it changes the ways in which organizations’ leadership and stakeholders think about and improve upon their internal policies and programs to f<strong>urther their commitment to diversity and inclusion</strong>.</p>

        <p>Women like Kimberly Smith are doing everything they can to advance in their careers and are still not making progress because of <strong>structural inequalities beyond their control</strong> such as paid time off, childcare benefits, resource groups, and professional development opportunities.</p>
        <br><br><br><br><br>
        <p>The State of the Index Report (2022 by Sami Hollinshead - <em>forthcoming</em>)</p>
      </div>
    </div>
  </section>
</main>
  <!-- main end --> 


  

  <!-- footer -->
  <footer class="footer">
    <!-- animation -->
    <div class="wrapper">
    <section class="animation">
      <div class="container">
        <div class=" flex box__signup">
          <div class="box__left">
            <h3>Be a difference engineer</h3>
            <p>Sign up for our newsletter to stay up to date about the center and its work.</p>
            <div class="social__cont">
              <a href="https://twitter.com/TheDiffEngASU" target="_blank"><img src="/images/example/twitter-footer.svg"
                  alt="twitter" class="social-icon"></a>
              <a href="https://www.instagram.com/thedifferenceengineasu/" target="_blank"><img
                  src="/images/example/instagram-footer.svg" alt="instagram" class="social-icon"></a>
              <a href="mailto:Ehsan.Zaffar@asu.edu"><img src="/images/example/email-footer.svg" alt="email" class="social-icon"></a>
            </div>
          </div>
  
          <div class="box__right">
            <p><a class="button button--red" href="/become-a-difference-engineer">Sign up</a></p>
          </div>
        </div>
      </div>
    </section></div>
    <!-- animation end -->

    <!-- sub footer -->

    <div class="sub__footer">
      <div class="sub__footer__top">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__menu">
                <a class="nav-link" href="https://www.asu.edu/rankings">
                  <div class="image__cont">
                  <img src="/images/example/GlobalFooter-Number-1-in-the-us-for-innovation.png" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                </div>
                </a>
                <nav class="sub__footer__item" aria-label="University Services">
                  <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations">Maps and Locations</a>
                  <a class="nav-link" href="https://www.asu.edu/asujobs" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs">Jobs</a>
                  <a class="nav-link" href="https://isearch.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory">Directory</a>
                  <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu">Contact ASU</a>
                  <a class="nav-link" href="https://my.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu">My ASU</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub__footer__down">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__legal__links">
                <nav class="sub__footer__item" aria-label="University Legal and Compliance">
                  <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark">Copyright and Trademark</a>
                  <a class="nav-link" href="https://www.asu.edu/accessibility/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility">Accessibility</a>
                  <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy">Privacy</a>
                  <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use">Terms of Use</a>
                  <a class="nav-link" href="https://www.asu.edu/emergency/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency">Emergency</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- sub footer -->
  </footer>

  <!-- footer end -->
</body>
</html>