.home-hero {
    position: relative;

    .video-cont {
        position: relative;
        width: 100%;
        height: 100vh;

        @include responsive('tablet-h') {
            height: 56vw;
        }

        .video__box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
    
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        
    }

    .container {
        height: 56.25vw;
        max-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive ('mobile-v'){
            min-height: 70.25vw;
        }
    }

    &__logo {
        width: 42vw;

        @include responsive('mobile-v'){
            width: 38.7vw;
        }

        img {
            width: 100%;
            height: auto;
        }

    }

    &__title {
        @include h3();
        text-align: center;
        margin-top: 2.25vw;
        font-weight: 500;

        @include responsive ('mobile-v'){
            font-size: 12px;
        }
    }
}