.who-should-apply {
  
  .Title__who__should {
    padding-bottom: 100px;
  }

  .list__no__link {
    padding: 3vw 5vw 3vw 2vw;

    li {
      margin-bottom: 1.5vw;
      list-style: disc;
    }
  }
  
  &__item {
    border: 1px solid;
  } 
}