.hero {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 10;
	min-height: 31vw;


	&--content {
		@extend .container-sm;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		z-index: 3;
		

		.title {
			@include h1();
			padding: 1vw 1.5vw;
			font-weight: 700;
			color: $white;
			background-color: $black;
			z-index: 5;

			&--secondary {
				color: $black;
				background-color: $yellow;
			}
		}
	}

	&--hero-xl {
		height: 56vw;
	}
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(180deg,rgba(25, 25, 25, 0),rgba(25, 25, 25, 0.79));
	z-index: 1;
}


//womenrs-power
#womens-power-hero,
#about-us-hero,
#criteria-methodology-hero,
#research-womens-power-hero {
  height: 46vw;
}


