
  #about-hero {
    background-image: url(../images/example/about-banner.jpg);
  }
  
  @include text_block();
  
  main {
    
    .unequal__history {
      background: url(../images/example/about-man-on-street.jpg) no-repeat center center /cover;
      height: 29vw;
      padding: 57px 75px;

      @include responsive ('tablet-h') {
        padding: 20px;
      }
      
      img {
        display: none;
      }
    
      h3 {
        max-width: 45%;
        color: $white;
        font-weight: 700;
        font-size: 24px; 

        @include responsive ('tablet-h') {
          max-width: 100%;
        }
      }
    
      p {
        color: $white;
        font-weight: 700;
      }
    }
    
    
    
    .title__video {
      float: left;
      font-size: 18px;
      padding: 20px 0;
      font-weight: 700;
    }
    
    .content__block__grid {
      display: grid;
      grid-template-columns: 70% 1fr;

      @include responsive ('tablet-h') {
        grid-template-columns: 100%;
      }
    
      .right__content {
        align-self: baseline;
        margin-top: 20px;
        margin-left: 20px;
        
        @include responsive ('tablet-h') {
          width: 100%;
          margin-left: 0;
          text-align: center;
        }
      }
    }
  
  }

  