.news-and-events {

  .container {
    background-color: $grey;
    padding: 40px 0;
    margin: 40px 0;
  }

  .title__news,
  .title__events {
    @include h4();

    @include responsive ('mobile-v') {
      font-size: 4.5vw;
    }
  }

  .card__layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;

    @include responsive ('tablet-h') {
      grid-template-columns: 50% 50%;
      justify-content: center;
      gap:20px;
    }

    @include responsive ('mobile-v') {
      grid-template-columns: 100%;
    }

    .card__item {
      min-height:465px;
      background:$white; 
      box-shadow: 2px 2px 5px $dark-grey;
      border: 1px solid $light-white;
      transition: all 0.3s ease;

      @include responsive ('tablet-h') {
        min-height: 516px;
      }

      .card__picture {
        width:100%;
        position: relative;
        display: block;
        aspect-ratio: 1.6;
      }

      &:hover {
        transform: translate(1px, -1px);
      }
    }

    .card__link__news {
      padding: 1.2vw;

      @include responsive ('mobile-v') {
        padding: 4vw;
      }

    .card__link__title {
      font-weight: 700;
      font-size: 1.5vw;
      line-height: 1.2;

      @include responsive ('mobile-v') {
        font-size: 4vw;
      }
    }

      
    }
  }
  
}