.news-and-events {

  .container {
    background-color: $grey;
    padding: 40px 0;
    margin: 40px 0;
  }

  .title__news,
  .title__events {
    @include h4();
  }

  .card__layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;

    @include responsive ('tablet-h') {
      grid-template-columns: 80%;
      justify-content: center;
    }

    @include responsive ('mobile-v') {
      grid-template-columns: 100%;
    }

    .card__item {
      min-height:416px;
      background:$white; 
      box-shadow: 5px 10px 18px $dark-grey;

      @include responsive ('tablet-h') {
        min-height: 516px;
      }

      .card__picture {
        width:100%;
        position: relative;
        display: block;
        aspect-ratio: 1.6;
      }
    }

    .card__link__news {
      padding: 1vw;

      @include responsive ('mobile-v') {
        padding: 4vw;
      }

      .link__news {
        color: $third-color;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  
}