#news-and-events-single{
  background-image: url(../../../images/example/bcls-ne-corner-article.jpg);
  min-height: 42vw;
  background-position: center 100%;
}

.news-and-events-single {

  .title__news__events__single {
    @include h3();
  }
}

