
.projects {

  .title__projects {
    @include h5();
    margin: 15px 0;
  }
  
  .content__block--align {
    align-items: flex-start;
    justify-content: center;
  
    @include responsive ('tablet-h') {
      flex-direction: column;
    }
  
    .left__content {
      width: 35%;
      padding: 20px 0;
      padding-right: 20px;
  
      @include responsive ('tablet-h') {
        width: 100%;
        padding-right: 0;
        
        br {
          display: none;
        }
      }
    }
  
    .right__content {
      width: 35%;
      padding: 20px 0;
      padding-left: 20px;
  
      @include responsive ('tablet-h') {
        width: 100%;
        padding-left: 0;
      }
  
  
    }

    .text__projects {
      min-height: 7vw;
    }
  }
}

