.research {
  
  .coming__soon {
    font-size: 24px;
    padding:5px 10px;
    color: $primary-color;
    background-color: $yellow;
    font-weight: 700;
    margin: 0 auto;
    width: 180px;
    
  }
}
