.content--map{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background: #fff;
    padding: 5px;

    @include responsive ('mobile-v'){
        flex-direction: column;
        align-items: center;
    }
    &__list{
        order: 0;
        flex: 0 1 26%;
        align-self: auto;

        @include responsive ('mobile-v'){
            width: 100%;
        }
        .accordion-container{
            position: relative;
            max-width: 500px;
            height: auto;
            margin: 10px auto;

            @include responsive ('mobile-v'){
                max-width: 100%;
                width: 100%;
            }
            .set{
                position: relative;
                width: 100%;
                height: auto;
                background-color: #FFFFFF;
                .item--name{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-content: stretch;
                    align-items: center;
                    width: 100%;
                    padding: 25px;
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 1;
                    border-bottom: 1px solid #E5E5E5;
                    -webkit-transition:all 0.2s linear;
                    -moz-transition:all 0.2s linear;
                    transition:all 0.2s linear;

                    @include responsive ('tablet-h'){
                        font-size: 24px;
                        padding: 20px;
                    }

                    @include responsive ('tablet-v'){
                        font-size: 19px;
                        padding: 10px;
                    }

                    @include responsive ('mobile-v'){
                        font-size: 20px;
                        padding: 15px;
                    }
                    span{
                        width: 37px;
                        display: inline-block;
                        margin-right: 20px;
                        @include responsive ('tablet-v'){
                            width: 21px;
                            margin-right: 12px;
                        }
                        svg{
                            width: 100%;
                            -webkit-transition:all 0.2s linear;
                            -moz-transition:all 0.2s linear;
                            transition:all 0.2s linear;
                            path{
                                -webkit-transition:all 0.2s linear;
                                -moz-transition:all 0.2s linear;
                                transition:all 0.2s linear;
                            }
                        }
                    }
                }
                &:nth-child(1){
                    .item--name{
                        &:hover,
                        &.active{
                            color: #F2D172;
                            svg{
                                path{
                                    fill: #F2D172;
                                }
                            } 
                        }
                    }
                    .content{
                        ul{
                            li{
                                a{
                                    &:hover,
                                    &.active,
                                    &.clicked{
                                        color: #105ABD;
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(2){
                    .item--name{
                        &:hover,
                        &.active{
                            color: #85B4C7;
                            svg{
                                path{
                                    fill: #85B4C7;
                                }
                            } 
                        }
                    }
                    .content{
                        ul{
                            li{
                                a{
                                    &:hover,
                                    &.active,
                                    &.clicked{
                                        color: #CA2118;
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(3){
                    .item--name{
                        &:hover,
                        &.active{
                            color: #3C5492;
                            svg{
                                path{
                                    fill: #3C5492;
                                }
                            } 
                        }
                    }
                    .content{
                        ul{
                            li{
                                a{
                                    &:hover,
                                    &.active,
                                    &.clicked{
                                        color: #105ABD;
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(4){
                    .item--name{
                        &:hover,
                        &.active{
                            color: #A49D93;
                            svg{
                                path{
                                    fill: #A49D93;
                                }
                            } 
                        }
                    }
                    .content{
                        ul{
                            li{
                                a{
                                    &:hover,
                                    &.active,
                                    &.clicked{
                                        color: #A49D93;
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(5){
                    .item--name{
                        &:hover,
                        &.active{
                            color: #DD9696;
                            svg{
                                path{
                                    fill: #DD9696;
                                }
                            } 
                        }
                    }
                    .content{
                        ul{
                            li{
                                a{
                                    &:hover,
                                    &.active,
                                    &.clicked{
                                        color: #DD9696;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .content{
                background-color: #F4F5F4;
                border-bottom: 1px solid #E5E5E5;
                padding: 25px;
                display:none;

                @include responsive ('tablet-h'){
                    padding: 15px;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    overflow-y: auto;
                    max-height: 470px;
                    @include responsive ('tablet-v'){
                        max-height: 250px;
                    }
                    &::-webkit-scrollbar-track
                    {
                        background-color: #F4F5F4;
                    }

                    &::-webkit-scrollbar
                    {
                        width: 10px;
                        background-color: #F4F5F4;
                    }

                    &::-webkit-scrollbar-thumb
                    {
                        background-color: rgba(114,114,114,0.17);
                        border: 2px solid #F4F5F4;
                    }
                    li{
                        display: block;
                        margin-bottom: 10px;
                        @include responsive ('tablet-v'){
                            margin-bottom: 5px;
                        }
                        a{
                            color: #000;
                            font-size: 20px;
                            -webkit-transition: none;
                            -moz-transition: none;
                            transition: none;
                            @include responsive ('tablet-v'){
                                font-size: 15px;
                            }
                            &:hover,
                            &.active,
                            &.clicked{
                                font-weight: bold;
                                -webkit-transition: none;
                                -moz-transition: none;
                                transition: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &__image{
        order: 0;
        flex: 0 1 74%;
        align-self: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        padding: 5px;

        @include responsive ('mobile-v'){
            width: 100%;
        }
        svg{
            width: 100%;
        }
        .point{
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            max-width: 40px;
            max-height: 40px;
            cursor: pointer;
            @include responsive ('tablet-h'){
                max-width: 20px;
                max-height: 20px;
            }
            @include responsive ('tablet-m'){
                max-width: 15px;
                max-height: 15px;
            }
            &.coffee{
                background: transparent url('images/map/icons/coffee.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.market{
                background: transparent url('images/map/icons/market.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.bus{
                background: transparent url('images/map/icons/bus.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.train{
                background: transparent url('images/map/icons/train.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.fitness{
                background: transparent url('images/map/icons/fitness.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.food{
                background: transparent url('images/map/icons/lunch.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.wine{
                background: transparent url('images/map/icons/wine.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.beer{
                background: transparent url('images/map/icons/beer.svg') no-repeat scroll center center;
                background-size: cover;
            }
            &.waller{
                background: transparent url('images/map/icons/waller.svg') no-repeat scroll center center;
                background-size: cover;
                max-width: 118px;
                max-height: 44px;
                @include responsive ('tablet-h'){
                    max-width: 65px;
                    max-height: 24px;
                }
                @include responsive ('tablet-m'){
                    max-width: 48px;
                    max-height: 18px;
                }
            }
            /*&.uber{
                background: transparent url('images/map/icons/uber.svg') no-repeat scroll center center;
                background-size: cover;
                max-width: 82px;
                max-height: 55px;

                @include responsive ('mobile-v'){
                    max-width: 62px;
                    max-height: 42px;
                }
            }
            &.taxi{
                background: transparent url('images/map/icons/taxi.svg') no-repeat scroll center center;
                background-size: cover;
                max-width: 47px;
                max-height: 82px;

                @include responsive ('mobile-v'){
                    max-width: 36px;
                    max-height: 62px;
                }
            }*/
            &.ie35{
                background: transparent url('images/map/icons/ie35.svg') no-repeat scroll center center;
                background-size: cover;
                max-width: 46px;
                max-height: 97px;
                @include responsive ('tablet-h'){
                    max-width: 24px;
                    max-height: 51px;
                }
                @include responsive ('tablet-m'){
                    max-width: 16px;
                    max-height: 33px;
                }
            }
            &.active{
                opacity: 0.5;
                visibility: visible;
                &.exclude{
                    opacity: 1 !important;
                }
            }
            &:hover,
            &.hover,
            &.clicked{
                opacity: 1;
            }
            &.clicked{
                visibility: visible;
            }
        }
        .animation-map{
            opacity: 0;
        }
        .animation-action{
            cursor: pointer;
            &.clicked,
            &.hover{
                .car-color{
                    fill: #A49D93 !important;
                }
            }
        }
    }
}