html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  @include default-font();
  font-size: 16px;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  &.fixed{
    overflow: hidden;
  }


  @include responsive('desktop-m') {
    font-size: 16px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  ul li {
    list-style: none;
  }

}

/* section {
 @include row();
} */

.hidden {
  display: none;
}

input[type="text"],input[type="email"],input[type="search"], input[type="submit"], textarea, button {
  @include default-font();
  -webkit-appearance:none;
  border-radius:0;
}

select {  @include default-font();}

h1,.h1,.h1 p {@include h1;}
h2,.h2,.h2 p {@include h2;}
h3,.h3,.h3 p {@include h3;}
h4,.h4,.h4 p {@include h4;}
h5,.h5,.h5 p {@include h5;}
h6,.h6,.h6 p {@include h6;}

a {color: $secondary-color; transition: all 0.3s ease;}


b,
strong,
strong * {
  font-weight: 600;
}

:hover {
 // transition: all 0.3s ease;
}

*:focus {
  outline: none;
}


.row {
  @include row();
}



.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.container-sm {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 6vw;

  @include responsive('tablet-h') {
    padding: 0 64px;
  }
  @include responsive('mobile-v') {
    padding: 0 32px;
  }
  @include responsive('mobile-s') {
    padding: 0 16px;
  }
}


.content--page{
  .container{

    @include responsive ('mobile-v'){
      padding: 0;
    }
  }
}

.centerDiv {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.image__container {
  width: 100%;
  position: relative;
}

.image-background {
  @include image-background();
}


.iframe-wrapper {
  @include row();
  padding-top: 56.25%;
  position: relative;

  iframe {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
  }
}

.slick-arrow,
.slick-dots button {
  cursor: pointer;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 20px !important;

  li {
    list-style: none;
    width: 15px;
    height: 15px;

    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #D8D8D8;
      overflow: hidden;
      cursor: pointer;
      text-indent: 500px;

      &:hover {
        background: $third-color;
      }
    }

    &.slick-active {
      button {
        background: $third-color;
      }
    }
  }
}

.cart-bar {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  padding: 10px 30px;
  color: $white;
  text-align: center;
  margin-bottom: 20px;
}

.text-styles {
  ul,
  ol {
    li {
      list-style: disc;
      margin-left: 25px;
      margin-bottom: 15px;
      width: calc(100% - 25px);
      @include h6();
      line-height: 1.4;

      @include responsive ('desktop-m'){
        font-size: 1.75vw;
        line-height: 1.1;
      }

      @include responsive ('tablet-h'){
        font-size: 2vw;
      }
      
      @include responsive ('mobile-v'){
        font-size:3vw;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }


  p {
    @include h6();
    margin-bottom: 45px;
    line-height: 36px;

    @include responsive ('desktop-l'){
      margin-bottom: 35px;
      font-size: 1.45vw;
    }

    @include responsive ('desktop-m'){
      font-size: 1.65vw;
      margin-bottom: 30px;
    }

    @include responsive ('tablet-h'){ 
      font-size: 1.78vw;
      margin-bottom: 25px;
      line-height: 1.6;
    }
    
    @include responsive ('tablet-m'){ 
      margin-bottom: 15px;
      line-height: 1.4;
      font-size: 2.1vw;
    }

    @include responsive ('mobile-v'){
      font-size: 11px;
      margin-bottom: 8px;
    }
    
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

.site {
  @include row();
  overflow: hidden;
}

.top-icon {
  position: fixed;
  right: 29px;
  bottom: 19px;
  width: 40px;
  height: 60px;
  background: none;
  background-image: url(images/top-btn.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
  
  @include responsive ('mobile-v'){
    display: none;
  }
  
}

.contact-icon {
  position: fixed;
  right: 19px;
  top: 50%;
  width: 60px;
  height: 60px;
  background: none;
  background-image: url(images/contact.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
  transform: translate(0,-50%);
  cursor: pointer;

  @include responsive ('mobile-v'){
    top: auto;
    width: 30px;
    height: 30px;
    bottom: 28px;
  }
}

.container__row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}

.wrapper {
  overflow: hidden;
}

main {
  margin-bottom: 3vw;
  border: 2px solid red;
}

.image-container {
  max-width: 100%;

  @include responsive ('tablet-h') {
    img {
      width: 100%;
    }
  }
}

.content__block {
  width: 100%;
  display: flex;
  align-items: center;

  &--align {
    align-items: flex-start;
  }

  @include responsive ('tablet-h') {
    flex-direction: column;
  }

  .left__content {
    width: 50%;
    padding: 20px 0;
    padding-right: 10px;

    @include responsive ('tablet-h') {
      width: 100%;
      padding-right: 0;
      
      br {
        display: none;
      }
    }
  }

  .right__content {
    width: 50%;
    padding: 20px 0;
    padding-left: 10px;

    @include responsive ('tablet-h') {
      width: 100%;
      padding-left: 0;
    }

    a {
      color: $third-color;
    }

  }
}

.inactive {
  text-decoration: none !important;
  pointer-events: none;
  cursor: default;
}



