<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/example/favicon.ico" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
  <title>News and Events Single | The Difference Engine</title>
</head>
<body>

  <!-- header -->
  <header class="header">
      
      <div class="universal__nav"> <!-- nav sm -->
        <div class="universal__nav__menu">
          <a href="https://www.asu.edu/">ASU Home</a>
          <a href="https://my.asu.edu/">My ASU</a>
          <a href="https://www.asu.edu/academics/colleges-schools">Colleges and Schools</a>
          <div class="login__status"><a href="https://thedifferenceengine.asu.edu/caslogin?returnto=/">Sign In</a></div>
        </div>
       <!--  <div class="asu-search-form" data-onclick-identifier="universal-search-bar">
          <form action="https://search.asu.edu/search" method="get" role="search" class="">
            <button type="submit" aria-label="Submit ASU Search"></button>
            <input name="q" type="search" aria-labelledby="asu-search-label" required=""><label class="universal-search" id="asu-search-label">Search asu.edu</label></form>
        </div> -->
       </div>
     
      <div class="navbar container__row">
        <div class="navbar__container__left">
      
          <!-- hamburger menu -->
          <div class="menu__responsive__cont">
            <div class="menu-responsive">
              <button class="site__menu">
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </button>
            </div>
          </div>
          <!-- hamburger menu -->
      
      
          <a href="https://www.asu.edu" class="navbar__logo">
            <img src="../images/example/arizona-state-university-logo-vertical.png" alt="Arizona State University">
            <img src="../images/example/arizona-state-university-logo.png" class="navbar__logo--large"
              alt="Arizona State University">
          </a>
      
      
      
          <div class="navbar__container__right">
            <h1><a class="title subunit-name active" href="/">The Difference Engine</a></h1>
            <nav class="navbar__primary">
              <ul aria-label="ASU" class="navbar__menu">
                <li class="navbar__menu__item active">
                  <a href="../index.html" class="icon__container">
                    <img src="../images/example/home.jpg" alt="home">
                  </a>
                  <a class="home__responsive" href="../index.html">
                    <span class="">Home</span>
                  </a>
                </li>
                <li class="navbar__menu__item">
                  <a href="" class="inactive" role="button" tabindex="0">About </a>
                  <img src="../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--one">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="about.html" class="nav__link">About us</a></li>
                      <li class="navbar__link"><a href="team.html" class="nav__link">Our Team</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Research </a>
                  <img src="../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--two">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="research.html" class="nav__link">Research</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Projects </a>
                  <img src="../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--three">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="projects.html" class="nav__link">Projects</a></li>
                      <li class="navbar__link"><a href="projects/womens-power.html" class="nav__link">Women's Power
                          Index</a></li>
                      <li class="navbar__link"><a href="projects/supercharger.html" class="nav__link">Supercharger</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navbar__menu__item">
                  <div class="navbar__link">
                    <a href="https://www.craft.do/s/aArieVV7yuouZT" class="" role="button" aria-expanded="false" tabindex="0">Curriculum</a>
                    <img src="../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  </div>
                  <div class="dropdown__item dropdown__item--four">
                    <div>
                      <ul class="menu__sub">
                        <li class="navbar__link"><a href="https://www.craft.do/s/aArieVV7yuouZT" class="nav__link">Unequal
                            States
                            of America</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__menu__item"><a href="news-and-events.html" class="menu__item__link">News and Events</a></li>
                <li class="navbar__menu__item"><a href="partners.html" class="menu__item__link">Partners</a></li>
              </ul>
      
              <div class="link__container_header__end">
                <button href="/become-a-difference-engineer" class="button button--primary">Become a Difference
                  Engineer</button>
                <button
                  href="https://www.asufoundation.org/colleges-and-programs/schools-and-colleges/sandra-day-oconnor-college-of-law/the-difference-engine"
                  class="button button--secondary">Give</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </header>
  <!-- header end -->
  
  <!-- hero -->
  <section role="img">
    <div class="container">
      <div class="hero hero--content" id="news-and-events-single">
        <img src="../images/example/bcls-ne-corner-article.jpg" alt="hero">
        <p></p>
      </div>
    </div>
  </section>

  <!-- hero end-->


  <!-- main -->
  <main role="main">
    <section class="news-and-events-single">
      <div class="container-sm">
       
      </div>
  
      <div class="container-sm">
        <h1 class="title__news__events__single">News and events single</h1>
        <div class="text__format">
          <p><a href="https://thedifferenceengine.asu.edu/">The Difference Engine: An ASU Center for the Future of Equality</a> is pleased to announce the appointment of <a href="https://csa.canon.com/internet/portal/us/csa">Canon Solutions America Inc.</a> to its Executive Board.</p>
          <p>Canon Solutions America strives to help resolve global problems through corporate activities based on its <em>kyosei</em> philosophy. <em>Kyosei</em>, or “spirit of cooperation” in Japanese, encourages harmony between “all people, regardless of race, religion, or culture,” living harmoniously together in an environment where all are respected and supported to do their best. This commitment to community wellness makes Canon Solutions America the perfect fit for The Difference Engine.</p>
          <p>“The company’s commitment to a vision of harmonious action as well as its generous support and presence on our Executive Board will advance the Engine’s work on a number of important tracks, including the Women’s Power Index — which we launched just a few weeks ago,” said <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="b7bfb4e7-bc5e-4b5d-bf46-9f4e4e6f18b8" href="/team/ehsan-zaffar" title="Ehsan Zaffar">Ehsan Zaffar</a>, the founding director of The Difference Engine.</p>
          <p>Canon Solutions America will be represented on the board by <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="eb51d01e-e741-4102-837a-6f544d19fd95" href="/team/rick-ranft" title="Rick Ranft">Richard “Rick” Ranft</a>, Vice President of Managed Services. At Canon, Ranft is responsible for a variety of services in his role, from client service delivery, customer satisfaction and retention, contract compliance, as well as employee development and success</p>
          <p>“I am honored to accept this role on The Difference Engine’s Executive Board and commit to contributing valuable and well-thought-out ideas on ways to better the life and education of students and the community,” Ranft said. “I look forward to working closely with the other Executive Board members and believe very highly in the work that will be done. I plan to honor and incorporate Canon Solutions America’s philosophy of <em>kyosei</em> into my responsibilities and decisions.”</p>
          <p>With a career spanning nearly 30 years, Ranft has been instrumental in the creation of Canon Solutions America’s Higher Education and Healthcare Advisory Teams (HEAT). The primary focus of Canon Solutions America’s Higher Education and Healthcare Advisory Teams (HEAT). The primary focus of Canon Solutions America's teams is to provide industry information, benchmarking, and best practices to both current and prospective clients.</p>
          <p>To learn more about The Difference Engine, <a href="https://thedifferenceengine.asu.edu/become-a-difference-engineer">sign up</a> to become a Difference Engineer and stay up to date with the center and its work.</p>
        </div>
      </div>

 
    </section>
  </main>

  <!-- main end --> 


  

  <!-- footer -->
  <footer class="footer">

    <!-- animation -->
    <div class="wrapper">
    <section class="animation">
      <div class="container">
        <div class=" flex box__signup">
          <div class="box__left">
            <h3>Be a difference engineer</h3>
            <p>Sign up for our newsletter to stay up to date about the center and its work.</p>
            <div class="social__cont">
              <a href="https://twitter.com/TheDiffEngASU" target="_blank"><img src="../images/twitter-footer.svg"
                  alt="twitter" class="social-icon"></a>
              <a href="https://www.instagram.com/thedifferenceengineasu/" target="_blank"><img
                  src="../images/instagram-footer.svg" alt="instagram" class="social-icon"></a>
              <a href="mailto:Ehsan.Zaffar@asu.edu"><img src="../images/email-footer.svg" alt="email" class="social-icon"></a>
            </div>
          </div>
  
          <div class="box__right">
            <p><a class="button button--red" href="/become-a-difference-engineer">Sign up</a></p>
          </div>
        </div>
      </div>
    </section></div>
    <!-- animation end -->

    <!-- sub footer -->

    <div class="sub__footer">
      <div class="sub__footer__top">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__menu">
                <a class="nav-link" href="https://www.asu.edu/rankings">
                  <div class="image__cont">
                  <img src="../images/example/GlobalFooter-Number-1-in-the-us-for-innovation.png" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                </div>
                </a>
                <nav class="sub__footer__item" aria-label="University Services">
                  <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations">Maps and Locations</a>
                  <a class="nav-link" href="https://www.asu.edu/asujobs" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs">Jobs</a>
                  <a class="nav-link" href="https://isearch.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory">Directory</a>
                  <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu">Contact ASU</a>
                  <a class="nav-link" href="https://my.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu">My ASU</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub__footer__down">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__legal__links">
                <nav class="sub__footer__item" aria-label="University Legal and Compliance">
                  <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark">Copyright and Trademark</a>
                  <a class="nav-link" href="https://www.asu.edu/accessibility/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility">Accessibility</a>
                  <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy">Privacy</a>
                  <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use">Terms of Use</a>
                  <a class="nav-link" href="https://www.asu.edu/emergency/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency">Emergency</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- sub footer -->
  </footer>

  <!-- footer end -->
</body>
</html>