<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/example/favicon.ico" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
  <title>News and Events | The Difference Engine</title>
</head>
<body>

  <!-- header -->
  <header class="header">
      
      <div class="universal__nav"> <!-- nav sm -->
        <div class="universal__nav__menu">
          <a href="https://www.asu.edu/">ASU Home</a>
          <a href="https://my.asu.edu/">My ASU</a>
          <a href="https://www.asu.edu/academics/colleges-schools">Colleges and Schools</a>
          <div class="login__status"><a href="https://thedifferenceengine.asu.edu/caslogin?returnto=/">Sign In</a></div>
        </div>
       <!--  <div class="asu-search-form" data-onclick-identifier="universal-search-bar">
          <form action="https://search.asu.edu/search" method="get" role="search" class="">
            <button type="submit" aria-label="Submit ASU Search"></button>
            <input name="q" type="search" aria-labelledby="asu-search-label" required=""><label class="universal-search" id="asu-search-label">Search asu.edu</label></form>
        </div> -->
       </div>
     
      <div class="navbar container__row">
        <div class="navbar__container__left">
      
          <!-- hamburger menu -->
          <div class="menu__responsive__cont">
            <div class="menu-responsive">
              <button class="site__menu">
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </button>
            </div>
          </div>
          <!-- hamburger menu -->
      
      
          <a href="https://www.asu.edu" class="navbar__logo">
            <img src="../images/example/arizona-state-university-logo-vertical.png" alt="Arizona State University">
            <img src="../images/example/arizona-state-university-logo.png" class="navbar__logo--large"
              alt="Arizona State University">
          </a>
      
      
      
          <div class="navbar__container__right">
            <h1><a class="title subunit-name active" href="/">The Difference Engine</a></h1>
            <nav class="navbar__primary">
              <ul aria-label="ASU" class="navbar__menu">
                <li class="navbar__menu__item active">
                  <a href="../index.html" class="icon__container">
                    <img src="../images/example/home.jpg" alt="home">
                  </a>
                  <a class="home__responsive" href="../index.html">
                    <span class="">Home</span>
                  </a>
                </li>
                <li class="navbar__menu__item">
                  <a href="" class="" role="button" tabindex="0">About </a>
                  <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--one">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="about.html" class="nav__link">About us</a></li>
                      <li class="navbar__link"><a href="team.html" class="nav__link">Our Team</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="" role="button" aria-expanded="false" tabindex="0">Research </a>
                  <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--two">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="research.html" class="nav__link">Research</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="" role="button" aria-expanded="false" tabindex="0">Projects </a>
                  <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--three">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="projects.html" class="nav__link">Projects</a></li>
                      <li class="navbar__link"><a href="projects/womens-power.html" class="nav__link">Women's Power
                          Index</a></li>
                      <li class="navbar__link"><a href="projects/supercharger.html" class="nav__link">Supercharger</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navbar__menu__item">
                  <div class="navbar__link">
                    <a href="https://www.craft.do/s/aArieVV7yuouZT" class="" role="button" aria-expanded="false" tabindex="0">Curriculum</a>
                    <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  </div>
                  <div class="dropdown__item dropdown__item--four">
                    <div>
                      <ul class="menu__sub">
                        <li class="navbar__link"><a href="https://www.craft.do/s/aArieVV7yuouZT" class="nav__link">Unequal
                            States
                            of America</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__menu__item"><a href="news-and-events.html" class="menu__item__link">News and Events</a></li>
                <li class="navbar__menu__item"><a href="partners.html" class="menu__item__link">Partners</a></li>
              </ul>
      
              <div class="link__container_header__end">
                <button href="/become-a-difference-engineer" class="button button--primary">Become a Difference
                  Engineer</button>
                <button
                  href="https://www.asufoundation.org/colleges-and-programs/schools-and-colleges/sandra-day-oconnor-college-of-law/the-difference-engine"
                  class="button button--secondary">Give</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </header>
  <!-- header end -->
  
  <!-- hero -->
  <section role="img">
    <div class="container">
      <div class="hero hero--content" id="news-hero">
        <img src="../images/example/about-banner.jpg" alt="hero">
        <p class="uppertitle"></p>
        <h1 class="title">News</h1>
        <p></p>
      </div>
    </div>
  </section>

  <!-- hero end-->


  <!-- main -->
  <main role="main">
    <section class="news-and-events">
      <div class="container-sm">
        <div class="navigation">
          <div class="url__navigator">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="." class="inactive">News and Events</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="container-sm">
        <h1 class="title__news">News</h1>
        <div class="card__layout">
          <div class="card__item">
            <div class="card__picture">
              <div class="image-background">
                <img src="../images/example/homeless-unhoused.jpg" alt="img">
              </div>
            </div>
            <div class="card__link__news">
              <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                to your world’: ASU student starts initiative to help people without homes</a>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture">
              <div class="image-background">
                <img src="../images/example/homeless-unhoused.jpg" alt="img">
              </div>
            </div>
            <div class="card__link__news">
              <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                to your world’: ASU student starts initiative to help people without homes</a>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture">
              <div class="image-background">
                <img src="../images/example/homeless-unhoused.jpg" alt="img">
              </div>
            </div>
            <div class="card__link__news">
              <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                to your world’: ASU student starts initiative to help people without homes</a>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture">
              <div class="image-background">
                <img src="../images/example/homeless-unhoused.jpg" alt="img">
              </div>
            </div>
            <div class="card__link__news">
              <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                to your world’: ASU student starts initiative to help people without homes</a>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture">
              <div class="image-background">
                <img src="../images/example/homeless-unhoused.jpg" alt="img">
              </div>
            </div>
            <div class="card__link__news">
              <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                to your world’: ASU student starts initiative to help people without homes</a>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture">
              <div class="image-background">
                <img src="../images/example/homeless-unhoused.jpg" alt="img">
              </div>
            </div>
            <div class="card__link__news">
              <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                to your world’: ASU student starts initiative to help people without homes</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Events -->

      <div class="container">
        <div class="container-sm">
          <h1 class="title__events">Events</h1>
          <div class="card__layout">
            <div class="card__item">
              <div class="card__picture">
                <div class="image-background">
                  <img src="../images/example/homeless-unhoused.jpg" alt="img">
                </div>
              </div>
              <div class="card__link__news">
                <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                  to your world’: ASU student starts initiative to help people without homes</a>
              </div>
            </div>
            <div class="card__item"> 
              <div class="card__picture">
                <div class="image-background">
                  <img src="../images/example/homeless-unhoused.jpg" alt="img">
                </div>
              </div>
              <div class="card__link__news">
                <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                  to your world’: ASU student starts initiative to help people without homes</a>
              </div>
            </div>
            <div class="card__item">
              <div class="card__picture">
                <div class="image-background">
                  <img src="../images/example/homeless-unhoused.jpg" alt="img">
                </div>
              </div>
              <div class="card__link__news">
                <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                  to your world’: ASU student starts initiative to help people without homes</a>
              </div>
            </div>
            <div class="card__item">
              <div class="card__picture">
                <div class="image-background">
                  <img src="../images/example/homeless-unhoused.jpg" alt="img">
                </div>
              </div>
              <div class="card__link__news">
                <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                  to your world’: ASU student starts initiative to help people without homes</a>
              </div>
            </div>
            <div class="card__item">
              <div class="card__picture">
                <div class="image-background">
                  <img src="../images/example/homeless-unhoused.jpg" alt="img">
                </div>
              </div>
              <div class="card__link__news">
                <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                  to your world’: ASU student starts initiative to help people without homes</a>
              </div>
            </div>
            <div class="card__item">
              <div class="card__picture">
                <div class="image-background">
                  <img src="../images/example/homeless-unhoused.jpg" alt="img">
                </div>
              </div>
              <div class="card__link__news">
                <a href="/news/asu-student-starts-initiative-to-help-people-without-homes" hreflang="en" class="link__news">‘Add
                  to your world’: ASU student starts initiative to help people without homes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- main end --> 


  

  <!-- footer -->
  <footer class="footer">

    <!-- animation -->
    <div class="wrapper">
    <section class="animation">
      <div class="container">
        <div class=" flex box__signup">
          <div class="box__left">
            <h3>Be a difference engineer</h3>
            <p>Sign up for our newsletter to stay up to date about the center and its work.</p>
            <div class="social__cont">
              <a href="https://twitter.com/TheDiffEngASU" target="_blank"><img src="../images/example/twitter-footer.jpg"
                  alt="twitter"></a>
              <a href="https://www.instagram.com/thedifferenceengineasu/" target="_blank"><img
                  src="../images/example/instagram-footer.jpg" alt="instagram"></a>
              <a href="mailto:Ehsan.Zaffar@asu.edu"><img src="../images/example/twitter-footer.jpg" alt="email"></a>
            </div>
          </div>
  
          <div class="box__right">
            <p><a class="button button--red" href="/become-a-difference-engineer">Sign up</a></p>
          </div>
        </div>
      </div>
    </section></div>
    <!-- animation end -->

    <!-- sub footer -->

    <div class="sub__footer">
      <div class="sub__footer__top">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__menu">
                <a class="nav-link" href="https://www.asu.edu/rankings">
                  <div class="image__cont">
                  <img src="../images/example/GlobalFooter-Number-1-in-the-us-for-innovation.png" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                </div>
                </a>
                <nav class="sub__footer__item" aria-label="University Services">
                  <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations">Maps and Locations</a>
                  <a class="nav-link" href="https://www.asu.edu/asujobs" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs">Jobs</a>
                  <a class="nav-link" href="https://isearch.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory">Directory</a>
                  <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu">Contact ASU</a>
                  <a class="nav-link" href="https://my.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu">My ASU</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub__footer__down">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__legal__links">
                <nav class="sub__footer__item" aria-label="University Legal and Compliance">
                  <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark">Copyright and Trademark</a>
                  <a class="nav-link" href="https://www.asu.edu/accessibility/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility">Accessibility</a>
                  <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy">Privacy</a>
                  <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use">Terms of Use</a>
                  <a class="nav-link" href="https://www.asu.edu/emergency/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency">Emergency</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- sub footer -->
  </footer>

  <!-- footer end -->
</body>
</html>