<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/example/favicon.ico" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
  <title>Projects | The Difference Engine</title>
</head>
<body>

  <!-- header -->
  <header class="header">
      
      <div class="universal__nav"> <!-- nav sm -->
        <div class="universal__nav__menu">
          <a href="https://www.asu.edu/">ASU Home</a>
          <a href="https://my.asu.edu/">My ASU</a>
          <a href="https://www.asu.edu/academics/colleges-schools">Colleges and Schools</a>
          <div class="login__status"><a href="https://thedifferenceengine.asu.edu/caslogin?returnto=/">Sign In</a></div>
        </div>
       <!--  <div class="asu-search-form" data-onclick-identifier="universal-search-bar">
          <form action="https://search.asu.edu/search" method="get" role="search" class="">
            <button type="submit" aria-label="Submit ASU Search"></button>
            <input name="q" type="search" aria-labelledby="asu-search-label" required=""><label class="universal-search" id="asu-search-label">Search asu.edu</label></form>
        </div> -->
       </div>
     
      <div class="navbar container__row">
        <div class="navbar__container__left">
      
          <!-- hamburger menu -->
          <div class="menu__responsive__cont">
            <div class="menu-responsive">
              <button class="site__menu">
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </button>
            </div>
          </div>
          <!-- hamburger menu -->
      
      
          <a href="https://www.asu.edu" class="navbar__logo">
            <img src="../images/example/arizona-state-university-logo-vertical.png" alt="Arizona State University">
            <img src="../images/example/arizona-state-university-logo.png" class="navbar__logo--large"
              alt="Arizona State University">
          </a>
      
      
      
          <div class="navbar__container__right">
            <h1><a class="title subunit-name active" href="/">The Difference Engine</a></h1>
            <nav class="navbar__primary">
              <ul aria-label="ASU" class="navbar__menu">
                <li class="navbar__menu__item active">
                  <a href="../index.html" class="icon__container">
                    <img src="../images/example/home.jpg" alt="home">
                  </a>
                  <a class="home__responsive" href="../index.html">
                    <span class="">Home</span>
                  </a>
                </li>
                <li class="navbar__menu__item">
                  <a href="about.html" class="inactive" role="button" tabindex="0">About </a>
                  <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--one">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="about.html" class="nav__link">About us</a></li>
                      <li class="navbar__link"><a href="team.html" class="nav__link">Our Team</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Research </a>
                  <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--two">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="research.html" class="nav__link">Research</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Projects </a>
                  <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--three">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="projects.html" class="nav__link">Projects</a></li>
                      <li class="navbar__link"><a href="projects/womens-power.html" class="nav__link">Women's Power
                          Index</a></li>
                      <li class="navbar__link"><a href="projects/supercharger.html" class="nav__link">Supercharger</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navbar__menu__item">
                  <div class="navbar__link">
                    <a href="https://www.craft.do/s/aArieVV7yuouZT" class="" role="button" aria-expanded="false" tabindex="0">Curriculum</a>
                    <img src="../images/example/arrow.svg" alt="dropdown" class="nav-arrow">
                  </div>
                  <div class="dropdown__item dropdown__item--four">
                    <div>
                      <ul class="menu__sub">
                        <li class="navbar__link"><a href="https://www.craft.do/s/aArieVV7yuouZT" class="nav__link">Unequal
                            States of America</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__menu__item"><a href="news-and-events.html" class="menu__item__link">News and Events</a></li>
                <li class="navbar__menu__item"><a href="partners.html" class="menu__item__link">Partners</a></li>
              </ul>
      
              <div class="link__container_header__end">
                <button href="/become-a-difference-engineer" class="button button--primary">Become a Difference
                  Engineer</button>
                <button
                  href="https://www.asufoundation.org/colleges-and-programs/schools-and-colleges/sandra-day-oconnor-college-of-law/the-difference-engine"
                  class="button button--secondary">Give</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </header>
  <!-- header end -->


  <section class="navigator" role="main">
    <div class="container-sm">
      <div class="navigation">
        <div class="url__navigator">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="." class="inactive">Partners</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  
  <!-- main -->
<main>
  <section class="partners">
    <div class="container-sm middle__block">
      <h1 class="title__partners">Partners</h1>
      <p>The center is a cross-disciplinary effort with funding and support from <a href="https://president.asu.edu/" title="Arizona State University President Michael Crow">Arizona State University President Michael Crow</a>, as well as, the <a href="https://law.asu.edu" title="Sandra Day O’Connor College of Law">Sandra Day O’Connor College of Law</a>, <a href="https://wpcarey.asu.edu/" title="W. P. Carey School of Business">W. P. Carey School of Business</a>, <a href="https://engineering.asu.edu/" title="Ira A. Fulton Schools of Engineering">Ira A. Fulton Schools of Engineering</a>, <a href="https://thecollege.asu.edu/" title="The College of Liberal Arts and Sciences">The College of Liberal Arts and Sciences</a> and the <a href="https://sst.asu.edu/" title="School of Social Transformation">School of Social Transformation</a>.</p>
    </div>

    <div class="container-sm">
      <div class="border__separate"></div>
    </div>
    <div class="container-sm">
      <p>View the videos below to learn why Arizona State University and our partners believe in the vision of the center and are invested in our work.</p>
    </div>
    <div class="container-sm">
      <div class="content__block">
        <div class="left__content">
          <div class="iframe-wrapper">
            <iframe class="" src="https://www.youtube.com/embed/124WSah5ljo?enablejsapi=1&amp;origin=https:%2F%2Fthedifferenceengine.asu.edu" title="ASU President Michael Crow announces the launch of The Difference Engine on February 11, 2021" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="widget2" data-gtm-yt-inspected-658644_453="true" data-gtm-yt-inspected-14="true"></iframe>
          </div>
          <div class="description__video">
            <h3 class="title__video">Michael Crow</h3>
            <p>ASU President Michael Crow announces the launch of The Difference Engine on February 11, 2021</p>
          </div>
        </div>

        <div class="right__content">
          <div class="iframe-wrapper">
            <iframe class="" src="https://www.youtube.com/embed/mHkyLeB7h9U?enablejsapi=1&amp;origin=https:%2F%2Fthedifferenceengine.asu.edu" title="Ray Anderson, Vice President and Director of Athletics at ASU shares why The Difference Engine is important for ensuring ASU’s commitment to diversity and racial justice for all." allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="widget4" data-gtm-yt-inspected-658644_453="true" data-gtm-yt-inspected-14="true"></iframe>
          </div>
          <div class="description__video">
            <h3 class="title__video">Ray Anderson</h3>
            <p>Ray Anderson, Vice President and Director of Athletics at ASU shares why The Difference Engine is important  for ensuring ASU’s commitment to diversity and racial justice for all.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sm">
      <div class="image-container"> 
        <img src="/images/example/mmc-email-letterhead-bannner.png" alt="img">
      </div>
      <div class="text__format">
        <p>February 19, 2021</p>
	<p>Dear ASU Community:</p>
	<p>As we reflect on those who sacrificed, contributed, and achieved for the betterment of themselves and others in this month — Black History Month — I’d also like to take a moment to recognize those who are making history every day in service to our renewed commitment to students, faculty and staff here at ASU.</p>
	
	<p>The <a href="https://president.asu.edu/commitment" target="_blank">25 actions</a> to which we have pledged to address inequities and systemic racism have a new name and a firm resolve to confront these issues through education and participation. The LIFT Initiative, through collaboration and innovation, endeavors to Listen, Invest, Facilitate and Teach — better than we have done in the past. By “better” I mean being better attuned to the unique social and cultural experiences of the learners and educators of our diverse ASU community, and by building better bridges to support leadership learning goals and outcomes for our students, faculty and staff.</p>
	
	<p>Since establishing the Advisory Council on African American Affairs last fall, we have been moving forward and quickly on these initiatives to support the success and growth of Black students, faculty and staff here at ASU. This interdisciplinary group of faculty, staff and students is actively collaborating with other talented members of our ASU community to implement LIFT’s goals through various subcommittees. We are motivated by the efforts and investments of Council members who continue to inspire and initiate participation, not only from within ASU, but in our surrounding communities as well.</p>
	
	<p>It is our goal to document the efforts of these transformative actions, and efforts to do as such are well underway. We will share the results of these efforts in an annual report in the Summer of 2021 and consider new ideas that may stem from this report.</p>
	
	<p>Upholding our commitment to investing resources and providing enhanced service support for Black and African American students, ASU has partnered with the Greater Phoenix Urban League Young Professionals to help create career pathways for our students. Last fall, 50 ASU students enrolled in the 12-month YP CoNext Leadership Program for one-on-one mentorship with young professionals throughout the greater Phoenix area. We encourage others to engage in programs like this and share these opportunities with friends and colleagues.</p>
	
	<p>We are also working to facilitate more opportunities for personal and professional growth among students and staff. Pursuant to our commitment to offer opportunities for service engagement, we have implemented a change to our staff personnel policy to increase the number of hours of release time so that we can engage in activities and opportunities that uphold ASU’s commitment to inclusion. This includes university-sponsored trainings, workshops and conferences, as well as professional organizations, affinity groups and mentor or mentee programs.</p>
	
	<p>The newly formed Faculty Inclusion Research for System Transformation (FIRST) is beginning its research into race and discrimination at ASU. Led by Victoria Sahani, professor of law in ASU’s Sandra Day O’Connor College of Law, this historical study will help us better address our future by looking at our past.</p>
	
	<p><strong>And we recently launched <a href="/">The Difference Engine: An ASU Center for the Future of Equality</a>. Led by Ehsan Zaffar, a civil rights lawyer and educator in ASU’s Sandra Day O’Connor College of Law, this multi-college interdisciplinary initiative is designed to help elevate equality across the United States. Engaging talent and resources from across ASU, Ehsan and his team are creating classes and developing partnerships to transform social justice and deconstruct the structural inequality that calls for this kind of social justice work.</strong></p>
	
	<p>The LIFT initiative is a throughline of the work pioneered and advanced by the artists, the educators, the explorers, the inventors, leaders, laborers, poets and soldiers we often spotlight during Black History Month. It is an active reminder of how ordinary efforts can effect extraordinary change for the betterment of our society. Those efforts advance here through education and dedication in service of our community.</p>
	
	<p>Let’s continue to lift each other up and set our sights higher to build better bridges for our communities.</p>
	<p>Sincerely,</p>
	<p><strong>Michael M. Crow</strong> <br>
		President <br>
		Arizona State University</p>
      </div>
    </div>
  </section>
</main>
  <!-- main end --> 


  

  <!-- footer -->
  <footer class="footer">

    <!-- animation -->
    <div class="wrapper">
    <section class="animation">
      <div class="container">
        <div class=" flex box__signup">
          <div class="box__left">
            <h3>Be a difference engineer</h3>
            <p>Sign up for our newsletter to stay up to date about the center and its work.</p>
            <div class="social__cont">
              <a href="https://twitter.com/TheDiffEngASU" target="_blank"><img src="../images/example/twitter-footer.svg"
                  alt="twitter" class="social-icon"></a>
              <a href="https://www.instagram.com/thedifferenceengineasu/" target="_blank"><img
                  src="../images/example/instagram-footer.svg" alt="instagram" class="social-icon"></a>
              <a href="mailto:Ehsan.Zaffar@asu.edu"><img src="../images/example/email-footer.svg" alt="email" class="social-icon"></a>
            </div>
          </div>
  
          <div class="box__right">
            <p><a class="button button--red" href="/become-a-difference-engineer">Sign up</a></p>
          </div>
        </div>
      </div>
    </section></div>
    <!-- animation end -->

    <!-- sub footer -->

    <div class="sub__footer">
      <div class="sub__footer__top">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__menu">
                <a class="nav-link" href="https://www.asu.edu/rankings">
                  <div class="image__cont">
                  <img src="../images/example/GlobalFooter-Number-1-in-the-us-for-innovation.png" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                </div>
                </a>
                <nav class="sub__footer__item" aria-label="University Services">
                  <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations">Maps and Locations</a>
                  <a class="nav-link" href="https://www.asu.edu/asujobs" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs">Jobs</a>
                  <a class="nav-link" href="https://isearch.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory">Directory</a>
                  <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu">Contact ASU</a>
                  <a class="nav-link" href="https://my.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu">My ASU</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub__footer__down">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__legal__links">
                <nav class="sub__footer__item" aria-label="University Legal and Compliance">
                  <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark">Copyright and Trademark</a>
                  <a class="nav-link" href="https://www.asu.edu/accessibility/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility">Accessibility</a>
                  <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy">Privacy</a>
                  <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use">Terms of Use</a>
                  <a class="nav-link" href="https://www.asu.edu/emergency/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency">Emergency</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- sub footer -->
  </footer>

  <!-- footer end -->
</body>
</html>