@mixin default-font() {
  font-family: $default-font;
  font-size: 24px;
  color: $primary-color;
}

@mixin row() {
  float: left;
  width: 100%;
}

@mixin centerDiv() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

@mixin center-xy(){
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

@mixin image-background() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin h1 {
  font-size: map-get($font-sizes, h1);
  font-family: $default-font;
  line-height: 1.1;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h1);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h1);
  }
}

@mixin h2 {
  font-size: map-get($font-sizes, h2);
  font-family: $default-font;
  line-height: 1.1;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h2);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h2);
  }
}
@mixin h3 {
  font-size: map-get($font-sizes, h3);
  font-family: $default-font;
  line-height: 1.1;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h3);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h3);
  }
}
@mixin h4 {
  font-size: map-get($font-sizes, h4);
  font-family: $default-font;
  line-height: 1.1;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h4);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h4);
  }
}

@mixin h5 {
  font-size: map-get($font-sizes, h5);
  font-family: $default-font;
  line-height: 1.1;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h5);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h5);
  }
}

@mixin h6 {
  font-size: map-get($font-sizes, h6);
  font-family: $default-font;
  line-height: 1.1;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h6);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h6);
  }
}

// Media Query Map
@mixin responsive($width) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
    @media only screen and (max-width: $width) {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$width}`. Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin responsiveMin($width) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
    @media only screen and (min-width: $width) {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$width}`. Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin text_block() {
	h1,h2,h3,h4,h5,h6 {
		color: $primary-color;
		font-weight: 700;
		margin-bottom: 15px;
    
	}
	h1 {
		@include h1();
	}
	h2 {
		@include h2();
	}
	h3 {
		@include h3();
	}
	h4 {
		@include h4();
	}
	h5 {
		@include h5();
	}
	h6 {
		@include h6();
	}
	p {
		line-height: 1.6;
		margin-bottom: 10px;
	}
	ul, ol {
		padding-left: 15px;
		margin-bottom: 10px;
		line-height: 1.6;
	}
	ul {
		li {
			list-style: disc;
		}
	}
	a {
		color: $primary-color;
		margin-bottom: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin button() {
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgb(140, 29, 64);
  line-height: 1rem;
  border-radius: 400rem;
  transition: all 0.03s ease-in-out 0s;
  font-size: 0.875rem;
  background-color: rgb(140, 29, 64);
  padding: 0.5rem 1rem !important;
  color: $white;
  cursor: pointer;
  /* font-size: 16px;
  line-height: 1;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  text-transform: uppercase;
  //font-family:'Source Sans Pro';
  font-weight: 400;
  cursor: pointer;
  padding: 8px 15px;
  transition: all .3s ease;
  text-align: center;  */

  &--secondary {
    background-color:$primary-color;
    color:$white;
    border: none;
  }

  &--red {
    display: inline-block;
    font-weight: 700;
    color: $white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1rem 2rem !important;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 400rem;
    transition: .03s ease-in-out;
   
    background-color: $third-color;

    &:hover {
      border-color: #0062cc;
    }
    
  }

  &:hover {
    transform: scale(1.05);
  }
}

@mixin icon-title {
  display: flex;
  align-items: center; 
  min-height: 4.5vw;
}

@mixin url-navigator {
  

  ul {
    width: 100%;
    margin-bottom:15px ;
    padding:10px 0 ;

    li {
      display: inline;
      padding-right: 10px;

      a {
        font-size: 16px;
        text-decoration: underline;
      }
    }

    li::after {
      display: inline-block;
    padding-left: 10px;
    content: "/";
    }
  }
}
