<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="shortcut icon" href="../../../images/example/favicon.ico" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
  <title>About UsWho Should Aplly? | The Difference Engine</title>
</head>
<body>

  <!-- header -->
  <header class="header">
      
      <div class="universal__nav"> <!-- nav sm -->
        <div class="universal__nav__menu">
          <a href="https://www.asu.edu/">ASU Home</a>
          <a href="https://my.asu.edu/">My ASU</a>
          <a href="https://www.asu.edu/academics/colleges-schools">Colleges and Schools</a>
          <div class="login__status"><a href="https://thedifferenceengine.asu.edu/caslogin?returnto=/">Sign In</a></div>
        </div>
       <!--  <div class="asu-search-form" data-onclick-identifier="universal-search-bar">
          <form action="https://search.asu.edu/search" method="get" role="search" class="">
            <button type="submit" aria-label="Submit ASU Search"></button>
            <input name="q" type="search" aria-labelledby="asu-search-label" required=""><label class="universal-search" id="asu-search-label">Search asu.edu</label></form>
        </div> -->
       </div>
     
      <div class="navbar container__row">
        <div class="navbar__container__left">
      
          <!-- hamburger menu -->
          <div class="menu__responsive__cont">
            <div class="menu-responsive">
              <button class="site__menu">
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </button>
            </div>
          </div>
          <!-- hamburger menu -->
      
      
          <a href="https://www.asu.edu" class="navbar__logo">
            <img src="../../../images/example/arizona-state-university-logo-vertical.png" alt="Arizona State University">
            <img src="../../../images/example/arizona-state-university-logo.png" class="navbar__logo--large"
              alt="Arizona State University">
          </a>
      
      
      
          <div class="navbar__container__right">
            <h1><a class="title subunit-name active" href="/">The Difference Engine</a></h1>
            <nav class="navbar__primary">
              <ul aria-label="ASU" class="navbar__menu">
                <li class="navbar__menu__item active">
                  <a href="../../../index.html" class="icon__container">
                    <img src="../../../images/example/home.jpg" alt="home">
                  </a>
                  <a class="home__responsive" href="../index.html">
                    <span class="">Home</span>
                  </a>
                </li>
                <li class="navbar__menu__item">
                  <a href="about.html" class="inactive" role="button" tabindex="0">About </a>
                  <img src="../../../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--one">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../about.html" class="nav__link">About us</a></li>
                      <li class="navbar__link"><a href="../../team.html" class="nav__link">Our Team</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Research </a>
                  <img src="../../../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--two">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../research.html" class="nav__link">Research</a></li>
                    </ul>
                  </div>
                </li>
      
      
                <li class="navbar__menu__item">
                  <a href="/" class="inactive" role="button" aria-expanded="false" tabindex="0">Projects </a>
                  <img src="../../../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  <div class="dropdown__item dropdown__item--three">
                    <ul class="menu__sub">
                      <li class="navbar__link"><a href="../../projects.html" class="nav__link">Projects</a></li>
                      <li class="navbar__link"><a href="../../projects/womens-power.html" class="nav__link">Women's Power
                          Index</a></li>
                      <li class="navbar__link"><a href="../../projects/supercharger.html" class="nav__link">Supercharger</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navbar__menu__item">
                  <div class="navbar__link">
                    <a href="https://www.craft.do/s/aArieVV7yuouZT" class="" role="button" aria-expanded="false" tabindex="0">Curriculum</a>
                    <img src="../../../images/arrow.svg" alt="dropdown" class="nav-arrow">
                  </div>
                  <div class="dropdown__item dropdown__item--four">
                    <div>
                      <ul class="menu__sub">
                        <li class="navbar__link"><a href="https://www.craft.do/s/aArieVV7yuouZT" class="nav__link">Unequal
                            States
                            of America</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__menu__item"><a href="../../news-and-events.html" class="menu__item__link">News and Events</a></li>
                <li class="navbar__menu__item"><a href="../../partners.html" class="menu__item__link">Partners</a></li>
              </ul>
      
              <div class="link__container_header__end">
                <button href="/become-a-difference-engineer" class="button button--primary">Become a Difference
                  Engineer</button>
                <button
                  href="https://www.asufoundation.org/colleges-and-programs/schools-and-colleges/sandra-day-oconnor-college-of-law/the-difference-engine"
                  class="button button--secondary">Give</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </header>
  <!-- header end -->

  <section class="navigator" role="main">
    <div class="container-sm">
      <div class="navigation">
        <div class="url__navigator">
          <ul>
            <li><a href="../../../index.html">Home</a></li>
            <li><a href="../../projects.html">Projects</a></li>
            <li><a href="../../projects/supercharger.html">Supercharger</a></li>
            <li><a href="." class="inactive">Who Should Apply?</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  
  <!-- main -->
<main>
  <section class="who-should-apply">
  
    <div class="container-sm">

      <div class="text__format" > 
        <h1 class="Title__who__should">Who Should Apply?</h1>
        <h3 class="uppertitle">An ideal venture for SuperCharger:</h3>
        <div class="text__format">
          <ul class="list__no__link">
            <li>Has an organizational mission that aims to reduce social, political, and/or economic inequality</li>
            <li>Has an organizational mission that aligns with ASU’s mission of innovation</li>
            <li>Founder(s) are motivated and driven</li>
            <li>Is in the beginning stages of developing their venture/idea</li>
            <li>Willing to participate in The Difference Engine related events/activities</li>
          </ul>
        </div>
        <div class="who__should__layout">
            <div class="who__should__item">
              <div class="image__container">
                <img src="/images/example/who-should-m.jpg" alt="img">
              </div>
              <p>This is Jose. As a U.S. Customs and Border Protection retiree, Jose settled into a border town where he would routinely witness refugees approach the border seeking asylum. The refugees would be turned down, only to be sent back to Mexico, where they would live in unsanitary "tent cities" that provided little safety and security. These tents could be easily broken into, which created a magnet for criminals who regularly prey upon the refugees.</p>
              <p>With this, Jose developed an innovative model to house refugees - one that is safer, cleaner, sustainable, and inexpensive. It is a modular waterproof private "room" that costs less than $500, can be put up in less than 30 minutes, and is made from sustainable materials like recycled cotton and cork. It also had a door that could be locked, making it far safer than a flimsy tent.</p>
              <p>He has built two prototypes, is determined to help others, and has a brilliant idea to reduce inequality. But he, unfortunately, does not have the resources or infrastructure to continue scaling his work. So, what did he do? Apply to SuperCharger. By applying to SuperCharger, Jose will now have access to mentorship, resources, and potential funding to contribute to his idea.</p>
            </div>
            <div class="who__should__item">
              <div class="image__container">
                <img src="/images/example/who-should-f.jpg" alt="img">
              </div>
              <p>This is Rebecca. As a student at ASU and resident of Phoenix, Rebecca felt motivated to help the population of people who are homeless within the city. With this, Rebecca found an innovative solution to help these individuals gain access to basic necessities and resources to survive.</p>
              <p>However, Rebecca does not have the guidance or funding she needs to make her idea come to fruition. She does not know anything about entrepreneurship, let alone starting and running her own business or nonprofit. So, what did she do? Apply to SuperCharger. SuperCharger is the perfect place for Rebecca to start, as it is a program built for social entrepreneurs who are in the beginning stages of developing their idea.</p>
              <p>By applying to SuperCharger, Rebecca will now have access to mentorship, resources, and potential funding to contribute to her idea. Rebecca now has the opportunity to become very successful with her idea, as she is learning from entrepreneurs who started their ventures from scratch like her.</p>
            </div>
        </div>
      </div>

    </div>
  </section>
</main>
  <!-- main end --> 


  

  <!-- footer -->
  <footer class="footer">
    <!-- animation -->
    <div class="wrapper">
    <section class="animation">
      <div class="container">
        <div class=" flex box__signup">
          <div class="box__left">
            <h3>Be a difference engineer</h3>
            <p>Sign up for our newsletter to stay up to date about the center and its work.</p>
            <div class="social__cont">
              <a href="https://twitter.com/TheDiffEngASU" target="_blank"><img src="../../../images/twitter-footer.svg"
                  alt="twitter" class="social-icon"></a>
              <a href="https://www.instagram.com/thedifferenceengineasu/" target="_blank"><img
                  src="../../../images/instagram-footer.svg" alt="instagram" class="social-icon"></a>
              <a href="mailto:Ehsan.Zaffar@asu.edu"><img src="../../../images/email-footer.svg" alt="email" class="social-icon"></a>
            </div>
          </div>
  
          <div class="box__right">
            <p><a class="button button--red" href="/become-a-difference-engineer">Sign up</a></p>
          </div>
        </div>
      </div>
    </section></div>
    <!-- animation end -->

    <!-- sub footer -->

    <div class="sub__footer">
      <div class="sub__footer__top">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__menu">
                <a class="nav-link" href="https://www.asu.edu/rankings">
                  <div class="image__cont">
                  <img src="../../../images/example/GlobalFooter-Number-1-in-the-us-for-innovation.png" alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020">
                </div>
                </a>
                <nav class="sub__footer__item" aria-label="University Services">
                  <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations">Maps and Locations</a>
                  <a class="nav-link" href="https://www.asu.edu/asujobs" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs">Jobs</a>
                  <a class="nav-link" href="https://isearch.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory">Directory</a>
                  <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu">Contact ASU</a>
                  <a class="nav-link" href="https://my.asu.edu/" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu">My ASU</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub__footer__down">
        <div class="wrapper">
          <div class="container">
            <div class="container__row">
              <div class="sub__footer__legal__links">
                <nav class="sub__footer__item" aria-label="University Legal and Compliance">
                  <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark">Copyright and Trademark</a>
                  <a class="nav-link" href="https://www.asu.edu/accessibility/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility">Accessibility</a>
                  <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy">Privacy</a>
                  <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use">Terms of Use</a>
                  <a class="nav-link" href="https://www.asu.edu/emergency/" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency">Emergency</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- sub footer -->
  </footer>

  <!-- footer end -->
</body>
</html>