#about-us-hero {
  background-image: url(../images/example/about-us-hero.jpg);
  min-height: 42vw;
  background-position: center 55%;
}

.about-us {

  .uppertitle {
    @include h5 ();
    margin-bottom: 30px;

    &--black {
      font-size: 1.5rem;
      line-height: 1.75rem;
      letter-spacing: -.0525rem;
      background: $primary-color;
      color: $light-white;
    }

    &--yellow { 
      font-size: 1.5rem;
      line-height: 1.75rem;
      letter-spacing: -.0525rem;
      background: $yellow;
      color: $primary-color;
    }
  }

  .image__container {
    width: 100%;
    position: relative;
    padding-top: 53%;
    margin: 35px 0;
  }

  .text__format {
    width: 100%;
    padding: 40px 0;

    ul li {
      list-style: disc;
    }
  }

  .our__team__container {

    .border__separate_middle {
      height: 0.5rem;
      background-color: $yellow;
      max-width: 16rem;
      margin: 5vw 0;
    }
  }

}