#about-us-hero {
  background-image: url(../images/example/about-us-hero.jpg);
  min-height: 42vw;
  background-position: center 55%;
}

.about-us {

  .uppertitle {
    @include h5 ();
    margin-bottom: 30px;

    &--black {
      font-size: 1.5rem;
      line-height: 1.75rem;
      letter-spacing: -.0525rem;
      background: $primary-color;
      color: $light-white;
    }
  }

  .image__container {
    width: 100%;
    position: relative;
    height: 25vw;
  }
}