.research-womens-power{ 
  
  .image__container {
    padding-top: 51%;
    margin: 35px 0 0 0;
    border: 1px solid $light-grey;
    border-bottom: none;
  }

  .text__small__research__container {
    width: 100%;
    border: 1px solid $light-grey;
    border-top: none;
    padding: 1vw 1.5vw;
    margin: 0;
  }

  .text__small__research {
    text-align: left;
    font-size: 1vw;
    font-weight: 400;
    color: $dark-grey-second;

    @include responsive ('tablet-h') {
      font-size: 1.5vw;
    }

    @include responsive ('mobile-v') {
      font-size: 2.3vw;
    }
  }


  .blackquote {
    p {
      font-weight: 700;
      //font-size: 1.25vw;

      @include responsive ('tablet-h') {
        font-size: 2.2vw;
      }

      @include responsive ('mobile-v') {
        font-size: 2.5vw;
      }
    }

    .citation {
      cite {
        font-weight: 700;
        //font-size: 1.25vw;
        @include responsive ('tablet-h') {
          font-size: 2.2vw;
        }
  
        @include responsive ('mobile-v') {
          font-size: 3vw;
        }
      }

      cite::before {
        padding-right: 0.5vw;
        margin-top: -5px;
        content: "\2014";
      }
      
    }
  }  
}